.main-content *:not(i) {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 500; }

/**********Font-sizes*******************************/
.text-heading {
  font-size: 19px;
  font-weight: 500; }

.text-subheading {
  font-size: 15px;
  font-weight: 400; }

/**********Colors***********************************/
body {
  background: #ffffff; }

.main-content * {
  color: #424242; }

.text-heading, .text-subheading {
  color: #424242; }

.action-box:focus {
  color: #424242; }

/*----------------------STYLES---------------------------*/
body {
  display: flex;
  flex-direction: column; }

.main-content {
  min-height: 86vh;
  height: 100%; }

.main-content > .row {
  min-height: inherit; }

#content {
  min-height: inherit;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  align-items: center; }

.main-content h2 {
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px; }

.account-buttons-top .container-account-button:before {
  content: '';
  background-image: url(../../image/tugboat_vector-website-icons_circle_500x500.svg);
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 250px;
  height: 250px;
  list-style-type: none;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  position: absolute; }

.account-buttons-top .container-account-button:hover:before {
  transform: rotate(46deg) !important;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

.container-account-button:before {
  content: '';
  background-image: url(../../image/tugboat_vector-website-icons_circle_500x500.svg);
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 175px;
  height: 175px;
  list-style-type: none;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  position: absolute; }

.container-account-button:hover:before {
  transform: rotate(46deg); }

.container-account-button {
  width: 175px;
  height: 175px;
  list-style-type: none; }

.account-button {
  display: block;
  width: 100%;
  height: 100%; }

.container-account-button-items {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.container-account-icon {
  padding: 0; }

.text-heading {
  margin: 0;
  font-size: 23px;
  color: #115d7e; }

.container-account-button {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

.container-account-icon, .container-account-text {
  z-index: 2;
  text-align: center; }

.container-account-icon {
  height: 75%;
  max-height: 75%;
  min-height: 75%;
  display: flex;
  align-items: center;
  justify-content: center; }

.container-account-text {
  height: 25%;
  max-height: 25%;
  min-height: 25%;
  display: flex;
  align-items: center;
  justify-content: center; }

.account-buttons-top .account-icon {
  display: block !important;
  padding: 0 !important;
  margin: 0 !important;
  height: 100px !important; }

.account-buttons-top > .container-account-button > .account-button {
  cursor: default; }

.account-buttons-top .container-account-icon {
  height: 50%;
  max-width: 100%;
  width: auto; }

.account-buttons-top .container-account-icon, .account-buttons-top .container-account-text {
  min-height: initial;
  max-height: none; }

.account-buttons-top .container-account-text {
  height: auto;
  padding-top: 10px; }

.account-buttons-top .text-heading {
  font-size: 28px;
  font-weight: 500; }

.account-buttons-top li {
  width: 250px !important;
  height: 250px !important; }

.account-buttons-top {
  width: 250px !important;
  height: 250px !important; }

.container-account-buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 40px;
  padding: 0;
  margin: 20px; }

.container-adjusted-height {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.information-icon {
  max-width: 50px;
  margin: 0 auto; }

.password-icon {
  max-width: 50px;
  margin: -12px auto 0 auto; }

.addresses-icon {
  max-width: 50px;
  margin: -10px auto 0 auto; }

.transactions-icon {
  max-width: 60px;
  margin: 0 auto; }

.newsletter-icon {
  max-width: 50px;
  margin: 0 auto; }

/*----------------------MEDIA QUERIES--------------------*/
@media (min-width: 576px) {
  .container-action-boxes li {
    width: 280px; } }

@media (min-width: 992px) {
  .container-action-boxes li:not(:last-child) {
    margin: 0; } }
