.main-content *:not(i) {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 500; }

/**********Font-sizes*******************************/
.main-content h1 {
  font-size: 28px;
  font-weight: 500; }

.sub-heading {
  font-size: 19px;
  font-weight: 300; }

.control-label {
  font-weight: 600; }

.form-control, .form-control input {
  font-size: 15px;
  font-weight: 400; }

.text-danger {
  font-weight: 400; }

/**********Colors***********************************/
body {
  background: #ffffff; }

.main-content * {
  color: #424242; }

.container-buttons .btn-primary {
  background: #eb872c;
  border: none;
  color: #ffffff; }

.container-buttons .btn-primary:hover {
  background: #ff5622;
  color: #ffffff; }

.container-buttons .btn-secondary {
  background: #055D7E;
  border: none;
  color: #ffffff; }

.container-buttons .btn-secondary:hover {
  background: #014862;
  border-color: #014862;
  color: #ffffff; }

.control-label, .control-label label {
  color: #424242; }

.form-control, .form-control input {
  color: #424242;
  border-color: #039bf4; }

.form-control:focus, .form-control input:focus {
  border-color: #eb872c;
  box-shadow: 0 0 8px #ff7a00; }

.main-content .has-error label, .main-content .has-error .control-label {
  color: #f44336; }

.main-content .has-error input, .main-content .has-error .form-control {
  border: 1px solid #f44336; }

.main-content .has-error input:focus, .main-content .has-error .form-control:focus {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ff1100;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ff1100; }

.text-danger {
  color: #F44336; }

/*----------------------STYLES---------------------------*/
body {
  display: flex;
  flex-direction: column; }

.mainbody > .container {
  width: 100%;
  min-height: 86vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between; }

.mainbody > .container > .row {
  margin: 0;
  width: 100%; }

.main-content {
  border: 1px solid #039bf4;
  margin: 0;
  border-radius: 4px;
  padding: 30px; }

.main-content h1 {
  margin: 0; }

.container-buttons {
  width: 100%;
  padding-top: 15px; }

.container-buttons .btn, .container-buttons .btn:hover {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

.container-buttons button, .container-buttons .btn {
  padding: 10px 0;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  font-size: 15px;
  text-shadow: none; }

.btn-secondary {
  margin-top: 7.5px; }

.control-label {
  text-align: left !important; }

.control-label:before {
  display: none; }

.btn-close {
  cursor: pointer;
  position: absolute;
  right: -15px;
  top: -18px;
  text-align: center;
  padding: 0;
  margin: 0;
  border-left: 1px solid #F44336;
  border-bottom: 1px solid #F44336;
  border-top: 1px solid #F44336;
  border-right: 1px solid #F44336;
  border-radius: 50%;
  transition: all .2s ease-in-out;
  text-decoration: none;
  background: #ffffff;
  line-height: 0; }

.main-content .fa-times {
  font-size: 19px;
  color: #F44336;
  padding: 5px 6px;
  transition: all .2s ease-in-out; }

.main-content .fa-times:hover {
  color: #ffffff;
  transition: all .2s ease-in-out; }

.btn-close:hover, .btn-close:focus, .btn-close:active {
  background: #F44336;
  color: #ffffff;
  transition: all .2s ease-in-out;
  text-decoration: none; }

/*----------------------MEDIA QUERIES--------------------*/
@media (min-width: 576px) {
  .main-content {
    margin: 0 auto;
    float: none; } }
