/**********Font-sizes*******************************/
#content * {
  font-family: "Titillium Web", sans-serif; }

#content h1 {
  font-size: 28px; }

#content input, #content .form-control {
  font-weight: 500; }

#content label {
  font-weight: 600; }

/**********Colors***********************************/
#content .btn-primary {
  background: #eb872c;
  border-color: #ff5622;
  color: #ffffff; }

#content .btn-primary:hover {
  background: #ff5622;
  color: #ffffff; }

#content .btn-secondary {
  background: #055D7E;
  border-color: #055D7E;
  color: #ffffff; }

#content .btn-secondary:hover {
  background: #014862;
  border-color: #014862;
  color: #ffffff; }

#content label {
  color: #424242; }

#content input, #content .form-control {
  color: #424242;
  border-color: #039bf4; }

#content input:focus, #content .form-control:focus {
  border-color: #eb872c;
  box-shadow: 0 0 8px #ff7a00; }

#content .btn, #content .btn:hover, #content .link-forgot-password, #content .link-forgot-password:hover {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

.alert-danger {
  background: #f4deca;
  color: #424242;
  font-weight: 600;
  border: 1px solid #ffafa8; }

/**********Styles***********************************/
body {
  background: #ffffff;
  display: flex;
  flex-direction: column; }

.container-main-content {
  min-height: 86vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0; }

.content {
  float: none;
  border: 1px solid #039bf4;
  border-radius: 4px;
  padding: 30px; }

#content button, #content .btn {
  padding: 10px 0;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  font-size: 15px;
  text-shadow: none; }

#content .form-group {
  margin: 0;
  padding: 15px 0; }

.control-label, .form-control {
  text-align: left; }

.control-label {
  width: 100%;
  margin: 0;
  padding: 7.5px 0 3.75px 0; }

.buttons {
  margin: 0;
  padding: 0; }

#content h1 {
  margin: 0;
  padding: 0 0 15px 0; }

.btn-primary {
  margin: 0 0 0 0; }

.btn-secondary {
  margin: 0 0 0 0; }

.alert {
  padding: 10px;
  margin: 15px 0 0 0;
  font-size: 15px;
  line-height: 1.5; }

.form-instructions {
  margin: 0 0 0 0;
  float: none;
  font-weight: 500;
  padding: 0; }

.link-separator {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  z-index: 0;
  padding: 0; }

.link-separator h3 {
  background: #ffffff;
  z-index: 1;
  padding: 0 5px;
  display: inline-block; }

.link-separator span {
  content: "";
  display: block;
  height: 1px;
  color: red;
  position: absolute;
  top: 57%;
  z-index: -1;
  background: transparent;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  border-top: 1px solid #039bf4; }

.img-icon-separator {
  display: block;
  margin: 0 auto;
  background: white;
  padding: 10px;
  height: 60px; }

/**********Media Queries***********************************/
