/**********Font-sizes*******************************/
#content h3, input {
  font-size: 15px; }

.link-forgot-password {
  font-size: 13px; }

.form-control, .form-control input {
  font-size: 15px; }

/**********Colors***********************************/

#pageContainer {
  padding-left: 0px;
  padding-right: 0px;
}
#content h2 {
  color: #424242; }

#content .alert-success {
  color: #424242;
  font-weight: 500;
  background-color: #e1eff2;
  border-color: #c2d9de; }

#content .btn-primary {
  background: #eb872c;
  color: #ffffff;
  border: none; }

#content .btn-primary:hover {
  background: #ff5622;
  color: #ffffff; }

#content .btn-secondary {
  background: #055D7E;
  border: none;
  color: #ffffff; }

#content .btn-secondary:hover {
  background: #014862;
  border-color: #014862;
  color: #ffffff; }

#content .well {
  background: #ffffff;
  border: 1px solid #039bf4; }

#content label {
  color: #424242;
  padding-bottom: 3.75px; }

#content input, #content .form-control {
  color: #424242;
  border-color: #039bf4; }

#content input:focus, #content .form-control:focus {
  border-color: #eb872c;
  box-shadow: 0 0 8px #ff7a00; }

#content .link-forgot-password {
  color: #a9a9a9; }

#content .link-forgot-password:hover {
  color: #424242; }

.alert-danger {
  background: #f4deca;
  color: #424242;
  font-weight: 600;
  border: 1px solid #ffafa8; }

#content * {
  font-family: "Titillium Web", sans-serif; }

#content .well {
  padding: 30px; }

#content .well > h2 {
  padding: 0 0 15px 0;
  margin: 0 0 0 0; }

#content input, #content .form-control {
  font-weight: 500; }

#content label {
  padding-bottom: 3.75px;
  font-weight: 600; }

#content .btn, #content .btn:hover, #content .link-forgot-password, #content .link-forgot-password:hover {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

#content button, #content .btn {
  margin: 0;
  padding: 10px 0;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  font-size: 19px;
  text-shadow: none; }

#content .link-forgot-password {
  text-decoration: none;
  padding-top: 3px;
  display: inline-block;
  text-align: left;
  font-weight: 600; }

.registration-link-container {
  padding-left: 15px;
  padding-right: 15px; }

.link-separator {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  z-index: 0;
  padding: 0; }

.link-separator h3 {
  background: #ffffff;
  z-index: 1;
  padding: 0 5px;
  display: inline-block; }

.link-separator span {
  content: "";
  display: block;
  height: 1px;
  color: red;
  position: absolute;
  top: 57%;
  z-index: -1;
  background: transparent;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  margin: 0 0 0 0;
  border-top: 1px solid #039bf4; }

.alert {
  padding: 10px;
  margin: 0 0 15px 0;
  font-size: 15px;
  line-height: 1.5; }

.main-content {
  min-height: 86vh;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 355px;
  float: none; }

.main-content > .row {
  display: flex;
  float: none;
  width: 100%; }

#content {
  width: 100%; }

#content > .row > div {
  margin: 0 auto;
  float: none; }

.container-section-headline h2 {
  margin-bottom: 0px;
  font-size: 22px;
  line-height: 22px;
}

.container-section-headline h4 {
  font-size: 14px;
  line-height: 14px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.container-contact-form {
  padding-top: 25px;
}

.contact-form {
  padding-top: 5px;
}

.container-contact-map {
  position: absolute;
  bottom: 26px;
  margin-top: 20px;
  width: 100%;
}

.contact-map {
  width: 100%;
}

.buttons {
  margin-top: 0px;
  margin-bottom: 0px;
}

.section {
  min-height: initial;
  padding-bottom: 0px;
}

.form-group {
  margin-bottom: 5px;
}

.section-header-icon {
  height: 60px;
}

.container-section-content {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  #content > .row {
    margin: 0; }
  #content > .row > div {
    padding: 0; } }
