/**********Font-sizes*******************************/
.container-form h1 {
  font-size: 28px; }

.form-control, .form-control input {
  font-size: 15px; }

/**********Colors***********************************/
body {
  background: #ffffff;
  display: flex;
  flex-direction: column; }

.container-form {
  background: #ffffff; }

.container-form h1 {
  color: #424242; }

.container-form label {
  color: #424242;
  font-weight: 600; }

#review h1, #review p {
  color: #424242; }

.container-form .form-control {
  border-color: #3da2c4; }

.container-form button, .container-form .btn, .container-form .btn-primary {
  background: #eb872c;
  border: none;
  color: #ffffff; }

.container-form button:hover, .container-form .btn:hover, .container-form .btn-primary:hover {
  background: #ff5622;
  color: #ffffff; }

input[type=checkbox].css-checkbox + label span {
  background: #ffffff;
  border-color: #0385F4; }

.parsley-required {
  color: #ff0000; }

.is-required, .parsley-minlength, .parsley-minlength:before, .parsley-equalto, .parsley-type, .parsley-type:before, .parsley-maxlength, .parsley-maxlength:before, .captcha-required, .parsley-pattern, .parsley-pattern:before {
  color: #F00; }

#form-registration .form-control:focus {
  border-color: #eb872c;
  box-shadow: 0 0 8px #ff7a00; }

#review {
  background: #ffffff; }

#previous-section, #editForm {
  background-color: #055D7E;
  border-color: #055D7E; }

#previous-section:hover, #editForm:hover {
  background-color: #014862;
  border-color: #014862; }

/*-------------------------------------------------*/
.btn, .btn:hover {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

.btn:focus {
  outline: none; }

.container-form {
  float: none;
  margin-left: auto;
  margin-right: auto;
  min-height: 0;
  border: 1px solid #3da2c4; }

.container-form h1 {
  margin: 0; }

.container-form {
  border-radius: 4px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px; }

.container-form form {
  margin: 0;
  padding: 0; }

.container-form input, .container-form .form-control {
  color: #424242;
  font-weight: 500; }

.container-form * {
  font-family: "Titillium Web", sans-serif; }

.container-form fieldset {
  width: 100%; }

.container-form button, .container-form .btn {
  margin: 0;
  padding: 10px 0;
  width: 100%;
  box-sizing: border-box;
  text-align: center; }

#buttons {
  padding: 15px 0 0 0; }

.is-required:before, .parsley-required:before {
  content: '* ';
  font-weight: bold; }

.parsley-minlength:before, .parsley-equalto:before, .parsley-type:before, .parsley-maxlength:before, .parsley-pattern:before {
  content: '* ';
  font-weight: bold; }

.parsley-minlength, .parsley-required, .parsley-equalto, .parsley-type, .parsley-maxlength, .parsley-pattern {
  margin: 0px 0px 0px 0px;
  padding: 7.5px 0px 7.5px 0px;
  font-size: 12px;
  opacity: 0.89;
  font-weight: 400; }

#parsley-id-multiple-newsletter, #parsley-id-multiple-agree {
  padding: 0 !important; }

.captcha-required {
  margin: 0px 0px 0px 0px;
  padding: 0 0 15px 0;
  font-size: 12px;
  opacity: 0.89; }

fieldset .col-sm-12, fieldset .col-xs-12 {
  padding: 0; }

.hidden {
  display: none; }

#form-registration label {
  padding-top: 7.5px;
  padding-bottom: 0px; }

#newsletter .form-group, #textagree .form-group {
  margin-bottom: 0px; }

#newsletter .parsley-input-error, #textagree .parsley-input-error {
  padding-left: 15px;
  padding-right: 15px; }

#newsletter {
  margin-top: 7.5px; }

input[type=checkbox].css-checkbox {
  display: none; }

input[type=checkbox].css-checkbox + label span {
  border-style: solid;
  border-width: 2px;
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -2px 10px 0 0;
  vertical-align: middle;
  cursor: pointer;
  box-sizing: content-box; }

input[type="checkbox"].css-checkbox:checked + label span {
  background: url("http://csscheckbox.com/checkboxes/u/csscheckbox_391ce065f36b1460c4845fa9b5173fba.png") -3px -29px no-repeat; }

#review {
  float: none;
  border-radius: 4px;
  padding: 0; }

#review h1 {
  margin: 0;
  padding: 0 0 15px 0; }

#formDataContainer {
  padding: 3.75px 0px 15px 0px;
  margin: 0;
  overflow: hidden; }

.form-review-heading {
  font-weight: 600; }

.form-review-data {
  font-weight: 500;
  font-size: 15px; }

.review-section-address .row {
  margin: 10px 0; }

.review-section-address .col-xs-4 {
  padding-left: 0; }

.review-section-address .col-xs-8 {
  float: right;
  float: right;
  padding-left: 10px; }

.review-container-section-address .col-xs-8 {
  margin-bottom: 0; }

.css-label, .parsley-required {
  font-weight: 500 !important; }

#captcha {
  padding: 0; }

#captcha .col-sm-10 {
  padding: 0px 0px 0px 0px; }

#previous-section {
  margin-top: 7.5px; }

.autocomplete_container {
  position: absolute;
  background: white;
  width: 100%;
  height: 100%;
  min-height: 70px;
  z-index: 3;
  border-left: 1px solid #eb872c;
  border-right: 1px solid #eb872c;
  border-bottom: 1px solid #eb872c;
  border-radius: 0px 0px 4px 4px;
  box-sizing: border-box;
  top: 93%; }

.autocomplete_result {
  display: inline-block;
  padding: 10px 4px 0px 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  text-decoration: underline;
  float: left;
  line-height: 25px;
  box-sizing: content-box;
  letter-spacing: 0.5px; }

.autocomplete_result:before {
  content: "";
  background: red;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  display: inline-block;
  height: 10px;
  width: 10px;
  margin: 0 5px 0 0px; }

#editForm {
  margin-top: 10px; }

label[for*="address-autocomplete"] {
  font-weight: 600; }

.option-province {
  display: block; }

.option-state {
  display: none; }

#captcha > fieldset {
  width: 100%;
  margin: 0 -10px; }

#content .form-group {
  margin-bottom: 0; }

.alert {
  font-weight: 600; }

.control-label[for="input-address-2"] {
  padding: 0;
  margin: 0;
  height: 5px;
  display: block; }

.main-content {
  min-height: 86vh;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 355px; }

.main-content > .row {
  width: 100%; }

@media (min-width: 576px) {
  #captcha > fieldset {
    width: 100%;
    margin-left: 0; } }
