<?php echo $header; ?>
<link href="catalog/view/theme/default/stylesheet/information/contact.css" rel="stylesheet"/>
<div class="container">
  <ul class="breadcrumb">
    <?php foreach (!$breadcrumbs as $breadcrumb) { ?>
    <a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a>
    <?php } ?>
  </ul>
  <div class="row">
    <div id="content" class="main-content col-sm-12"><?php echo $content_top; ?>
      <h1 style="text-align:center"><?php echo $heading_title; ?></h1>


      <div class="row">
        <div class="col-sm-12 col-md-6 col-md-offset-3">
          <div class="panel panel-default">
          <div class="panel-body">
        <p>
          Great teams build great companies! Would you like to join our team and become a sailor? Send us message and we will get back to you.
        </p>
        <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" class="form-horizontal career-form">
            <fieldset>
              <legend><?php echo $text_contact; ?></legend>
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <div class="form-group required">
                    <label class="col-sm-12 control-label" for="input-name"><?php echo $entry_name; ?></label>
                    <div class="col-sm-12">
                      <input type="text" name="name" value="<?php echo $name; ?>" id="input-name" class="form-control" />
                      <?php if ($error_name) { ?>
                      <div class="text-danger"><?php echo $error_name; ?></div>
                      <?php } ?>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6">
                  <div class="form-group required">
                    <label class="col-sm-12 control-label" for="input-email"><?php echo $entry_email; ?></label>
                    <div class="col-sm-12">
                      <input type="text" name="email" value="<?php echo $email; ?>" id="input-email" class="form-control" />
                      <?php if ($error_email) { ?>
                      <div class="text-danger"><?php echo $error_email; ?></div>
                      <?php } ?>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group required">
                <label class="col-sm-12 control-label" for="input-enquiry"><?php echo $text_roles; ?></label>
                <div class="col-sm-12">
                    <select name="roles" class="form-control">
                        <option value="Sales">Sales</option>
                        <option value="Customer Service">Customer Service</option>
                        <option value="Operations">Operations</option>
                        <option value="Sales">Development</option>
                        <option value="Sales">Other</option>
                    </select>

                </div>
              </div>

              <div class="form-group required">
                <label class="col-sm-12 control-label" for="input-enquiry"><?php echo $text_resume; ?></label>
                <div class="col-sm-12">
                    <input type="file" name="file" class="form-control" />
                </div>
              </div>
              <?php echo $captcha; ?>
            </fieldset>
            <div class="buttons">
              <div class="pull-left">
                <input class="btn btn-primary" type="submit" value="<?php echo $button_submit; ?>" />
              </div>
                <h1><?php echo $success; ?></h1>
            </div>
          </form>
        </div>
        </div>
        </div>

        <div class="col-sm-12 col-md-4" hidden>
          <h3><?php echo $text_location; ?></h3>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <?php if ($image) { ?>
                <div class="col-sm-12 text-center"><img src="<?php echo $image; ?>" alt="<?php echo $store; ?>" title="<?php echo $store; ?>" class="img-thumbnail" /></div>
                <?php } ?>
                <div class="col-sm-12">
                  <br /><strong><?php echo $store; ?></strong><br />
                  <address>
                  <?php echo $address; ?>
                  </address>
                  <?php if ($geocode) { ?>
                  <a href="https://maps.google.com/maps?q=<?php echo urlencode($geocode); ?>&hl=<?php echo $geocode_hl; ?>&t=m&z=15" target="_blank" class="btn btn-info"><i class="fa fa-map-marker"></i> <?php echo $button_map; ?></a>
                  <?php } ?>
                </div>
                <div class="col-sm-12"><strong><?php echo $text_telephone; ?></strong><br>
                  <?php echo $telephone; ?><br />
                  <br />
                  <?php if ($fax) { ?>
                  <strong><?php echo $text_fax; ?></strong><br>
                  <?php echo $fax; ?>
                  <?php } ?>
                </div>
                <div class="col-sm-12">
                  <?php if ($open) { ?>
                  <strong><?php echo $text_open; ?></strong><br />
                  <?php echo $open; ?><br />
                  <br />
                  <?php } ?>
                  <?php if ($comment) { ?>
                  <strong><?php echo $text_comment; ?></strong><br />
                  <?php echo $comment; ?>
                  <?php } ?>
                </div>
              </div>
            </div>
          </div>
          <?php if ($locations) { ?>
          <h3><?php echo $text_store; ?></h3>
          <div class="panel-group" id="accordion">
            <?php foreach ($locations as $location) { ?>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"><a href="#collapse-location<?php echo $location['location_id']; ?>" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"><?php echo $location['name']; ?> <i class="fa fa-caret-down"></i></a></h4>
              </div>
              <div class="panel-collapse collapse" id="collapse-location<?php echo $location['location_id']; ?>">
                <div class="panel-body">
                  <div class="row">
                    <?php if ($location['image']) { ?>
                    <div class="col-sm-12"><img src="<?php echo $location['image']; ?>" alt="<?php echo $location['name']; ?>" title="<?php echo $location['name']; ?>" class="img-thumbnail" /></div>
                    <?php } ?>
                    <div class="col-sm-12"><strong><?php echo $location['name']; ?></strong><br />
                      <address>
                      <?php echo $location['address']; ?>
                      </address>
                      <?php if ($location['geocode']) { ?>
                      <a href="https://maps.google.com/maps?q=<?php echo urlencode($location['geocode']); ?>&hl=<?php echo $geocode_hl; ?>&t=m&z=15" target="_blank" class="btn btn-info"><i class="fa fa-map-marker"></i> <?php echo $button_map; ?></a>
                      <?php } ?>
                    </div>
                    <div class="col-sm-3"> <strong><?php echo $text_telephone; ?></strong><br>
                      <?php echo $location['telephone']; ?><br />
                      <br />
                      <?php if ($location['fax']) { ?>
                      <strong><?php echo $text_fax; ?></strong><br>
                      <?php echo $location['fax']; ?>
                      <?php } ?>
                    </div>
                    <div class="col-sm-12">
                      <?php if ($location['open']) { ?>
                      <strong><?php echo $text_open; ?></strong><br />
                      <?php echo $location['open']; ?><br />
                      <br />
                      <?php } ?>
                      <?php if ($location['comment']) { ?>
                      <strong><?php echo $text_comment; ?></strong><br />
                      <?php echo $location['comment']; ?>
                      <?php } ?>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <?php } ?>
          </div>
          <?php } ?>
        </div>
      </div>


      <?php echo $content_bottom; ?></div>
    <?php echo $column_right; ?></div>
</div>
<?php echo $footer; ?>
