/* #region GENERAL */

:root {
  --tugboat-blue: #2EAACC;
  --tugboat-orange: #EB882D;
  --hover-blue: #055D7E;
  --hover-orange: #FF5622;
  --off-white: #EFEFEF;
}

nav .container {
  padding-left: 0px;
  padding-right: 0px;
}

#mainNavContainer {
  padding-right: 0;
  padding-left: 0;
}

#mainNav {
  padding-top: 0px;
  padding-bottom: 0px;
  height: 70px;
}

.navbar-nav {
  list-style: none;
  margin: 0;
  padding-left: 0px;
  text-align: center;
  font-weight: 500;
  flex-direction: row !important;
}

#mainNav.navbar {
  padding-left: 0px;
  padding-right: 0px;
}

.navbar-brand {
  padding-left: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 35px;
  background-color: white;
}

.dropdown-toggle i {
  text-indent: 8px;
}

.header-text-login {
  font-size: 12px;
  float: left;
  margin: auto 0;
  color: var(--tugboat-orange);
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand .text-logo {
  float: left;
  font-family: 'Titillium Web', sans-serif;
  display: inline-block;
  vertical-align: middle;
  font-weight: 550;
  text-indent: 5px;
  font-size: 13px;
  letter-spacing: 1px;
  color: var(--tugboat-orange);
}

.header-category-text {
  color: white;
  font-size: 9px;
  font-weight: 400;
  line-height: 10px;
  margin-bottom: 0px;
}

#mobileUserDropdown.dropdown-menu {
  position: absolute;
  padding: 0;
  min-width: 0px;
  width: 100%;
  border-width: 0px;
  background-color: white;
}

#mobileUserDropdown .dropdown-item {
  font-size: 11px;
  font-weight: 500;
  color: var(--tugboat-orange);
  padding: 8px;
  display: block !important;
}

#mobileUserDropdown .dropdown-item:hover {
  background-color: var(--hover-blue);
}

#cart .dropdown-menu {
  position: absolute;
}

#productDropdown.dropdown-menu {
  padding: 0;
  min-width: 0px;
  width: 100%;
  border-width: 0px;
  background-color: var(--tugboat-orange);
}

#productDropdown .dropdown-item {
  font-size: 11px;
  color: white;
  display: block;
  font-weight: 500;
  line-height: 15px;
  padding: 8px;
  text-align: right;
}

#desktopUserDropdown.dropdown-menu {
  padding: 0;
  min-width: 0px;
  width: 100%;
  border-width: 0px;
  background-color: var(--tugboat-orange);
}

#desktopUserDropdown .dropdown-item {
  font-size: 11px;
  color: white;
  display: block;
  font-weight: 500;
  line-height: 15px;
  padding: 8px;
  text-align: right;
}

.dropdown-item:hover {
  background-color: var(--hover-blue);
  color: white;
}

.nav-item {
  float: left;
}

.nav-link {
  float: left;
  width: 100%;
}

.nav-link:focus {
  text-decoration: none;
}

.nav-login-cart {
  height: 35px;
  align-items: center;
  font-weight: 550;
  display: flex;
  float: right;
  margin-right: 15px;
}

.nav-login-cart .header-login-link {
  height: 100%;
  display: flex;
}

.nav-login-cart .header-login-link .img-header-icon {
  float: left;
  margin: auto 0;
}

.nav-login-cart .nav-item {
  height: 100%;
  margin: 0 auto;
}

.nav-login-cart .nav-item:first-child {
  margin-right: 15px;
}

.nav-login-cart .nav-login.dropdown {
  width: 50px;
}

.nav-login-cart .nav-login .nav-link {
  display: flex;
  height: 100%;
}

.nav-login-cart .nav-login .open > a {
  background-color: var(--hover-blue);
}

.nav-login-cart .nav-cart #cart {
  height: 100%;  
}

.nav-login-cart .nav-cart {
  display: flex;
  height: 100%;
}

.nav-login-cart .nav-cart .nav-link {
  display: flex;
  height: 100%;
}


.nav-login-cart .nav-item .nav-link i,
.nav-login-cart .nav-item .nav-link p {
  margin: auto 0;
  float: left;
}

.nav-login-cart .header-login-link:hover,
.nav-login-cart .header-login-link:focus {
  background-color: white !important;
}

.collapsed {
  background-color: var(--tugboat-orange);
}

.flex-row {
  background-color: white;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
  color: #fff;
  background-color: #055D7E;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover,
#cart .btn:focus,
#cart .btn:hover {
  background: #055D7E;
  border-color: #055D7E;
  color: #fff;
}

#cart .btn {
  border-color: #eb872c;
  background-color: #eb872c;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.nav li,
.nav li:hover,
.nav li:focus,
#cart .btn:focus,
#cart .btn:hover,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.img-brand {
  margin-top: auto;
  margin-bottom: auto;
  height: 16px;
  float: left;
}

.img-logo {
  margin-top: auto;
  margin-bottom: auto;
  height: 24px;
  float: left;
}

.img-header-icon {
  height: 20px;
}

.product-links-dropdown-container {
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  left: 0;
  background: #eb882d;
}

.product-dropdown-text {
  color: #ffffff;
  margin: 0;
  padding: 0;
  text-indent: 0;
}

.product-dropdown-link {
  display: block;
  width: 100%;
  margin: 0;
  padding: 6px 15px 7px 3px;
  color: #ffffff;
  font-size: 14px;
}

.product-dropdown-link:hover {
  background-color: #055D7E;
  color: #ffffff;
}

.container-product-dropdown {
  list-style-type: none;
  text-align: right;
}

.product-links-container:hover {
  transition: all .2s ease-in-out;
  background-color: #055D7E;
  cursor: pointer;
}

.dropdown-height {
  transition: all .2s ease-in-out;
}

.dropdown-height>.dropdown-toggle {
  transition: all .2s ease-in-out;
}

.dropdown-height>.dropdown-adjusted {
  width: 100%;
  padding: 0;
  margin: 0;
  border: none !important;
  float: none;
  right: 0;
  box-sizing: border-box;
  box-shadow: none;
  background: #eb882d;
  min-width: 100%;
  border-radius: 0;
}

.dropdown-height>.dropdown-adjusted a {
  display: block;
  width: 100%;
  margin: 0;
  padding: 6px 15px 7px 3px;
  color: #ffffff;
  text-align: right;
}

.dropdown-height>.dropdown-adjusted a:hover {
  background: #055d7e;
  transition: all .2s ease-in-out;
}

.active-header-dropdown {
  display: block;
}

.active-header-dropdown-parent {
  background: #055d7e;
}

.dropdown-height>.dropdown-toggle>.fa-user {
  font-size: 19px;
}

/* #endregion */

/* #region mainNavRowOne */

#mainNavRowOne {
  height: 35px;
  padding-right: 1rem;
  background-color: white;
}

#mainNavRowOne i {
  color: var(--tugboat-orange);
}

#mainNavRowOne .dropdown-toggle:after {
  color: var(--tugboat-orange);
}

#mainNavRowOne .nav-item .nav-link {
  padding-top: 0px;
  padding-bottom: 0px;
}

#mainNavRowOne .navbar-nav li:hover,
#mainNavRowOne .navbar-nav a:hover {
  background-color: white;
}

#mainNavRowOne .navbar-nav>.open>a,
#mainNavRowOne .navbar-nav>.open>a:focus,
#mainNavRowOne .navbar-nav>.open>a:hover {
  background-color: white;
}

/* #endregion */

/* #region mainNavRowTwo */

#mainNavRowTwo {
  height: 35px;
  background-color: var(--tugboat-orange);
  color: white !important;
  margin: auto 0;
}

#mainNavRowTwo .nav-cart .dropdown-toggle {
  min-width: 1px;
}

#mainNavRowTwo .nav-item {
  width: 25%;
}

#mainNavRowTwo .nav-link {
  margin: 0 auto;
  padding-top: 2px;
  padding-bottom: 1px;
}

/* #endregion */


@media (min-width: 576px) and (max-width: 767px) {
  .navbar {
    margin-bottom: 5px;
  }
}

@media (min-width: 768px) {
  #mainNav {
    height: 50px;
  }

  #mainNavContainer {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  @media (max-width: 991px) {
    #mainNavContainer.container {
      width: auto;
    }
  }

  #mainNavRowOne {
    height: 49px;
    display: inline-flex;
    align-items: center;
    background-color: var(--tugboat-orange);
  }

  #mainNavRowTwo {
    height: 49px !important;
    float: right;
  }

  #mainNavRowTwo .navbar-nav {
    height: 49px;
    display: inline-flex !important;
    align-items: center;
  }

  .header-category-text {
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 500;
    font-size: 13px;
    text-indent: 10px;
    margin: 0 0;
  }

  .nav-cart {
    /* width: 20px;
    max-width: 20px; */
  }

  .header-text-login {
    font-family: 'Titillium Web', sans-serif;
    font-size: 13px;
    font-weight: 500;
    text-indent: 10px;
  }

  .nav-link {
    display: flex;
    align-items: center;
  }

  .navbar-brand .text-logo {
    text-indent: 8px;
  }

  .navbar-brand {
    background-color: var(--tugboat-orange);
  }

  #mainNav.navbar {
    background-color: var(--tugboat-orange);
  }

  #mainNavRowTwo .nav-link {
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  #mainNavRowTwo .nav-item {
    height: 49px;
    width: auto;
  }

  #mainNavRowTwo #cart {
    color: #666666;
  }

  #cart {
    height: 100%;
  }

  #cart i {
    color: white;
  }

  #mainNavRowTwo .navbar-nav {
    margin: 0 0;
  }

  .nav-item img,
  .nav-item p {
    vertical-align: middle;
    float: left;
  }
  
  .nav-item img {
    height: 20px;
  }

  .navbar-brand .text-logo {
    font-weight: 500;
    font-size: 19px;
    color: white;
  }

  .header-text-login {
    color: white;
  }

  #entNav {
    float: right;
    height: 50px;
    background-color: var(--tugboat-orange);
    color: white !important;
    margin: auto 0;
  }

  #entNav .nav-link {
    margin: 0 auto;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  #entNav .nav-link {
    min-width: 100px;
  }

  #entNav .nav-link {
    height: 100%;
  }
}

@media (min-width: 992px) {
  .header-category-text {
    font-size: 15px;
  }

  .header-text-login {
    font-size: 15px;
  }

  #productDropdown.dropdown-menu {
    padding: 0;
    min-width: 125px;
    width: 125px;
    max-width: 125px;
    border-width: 0px;
    background-color: var(--tugboat-orange);
  }

  #productDropdown .dropdown-item {
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
    font-size: 14px;
    color: white;
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    padding: 10px;
    text-align: right;
  }

  #desktopUserDropdown.dropdown-menu {
    padding: 0;
    border-width: 0px;
    background-color: var(--tugboat-orange);
  }

  #desktopUserDropdown .dropdown-item {
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
    font-size: 14px;
    color: white;
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    padding: 10px;
    text-align: right;
  }
}

@media (min-width: 1200px) {}