/* #region GENERAL */

.hidden {
    display: none;
}

.container-section-btn {
    padding-top: 15px;
    margin: 0 auto;
}

.btn-start {
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    display: inline-block;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    background-color: var(--tugboat-orange);
    text-transform: uppercase;
    text-align: center;
    border: none;
    font-weight: 600;
    letter-spacing: 2px;
}

.btn-start:hover,
.btn-start:focus,
.btn-start:active {
    background-color: var(--hover-orange);
    color: white;
}

.btn-start,
.btn-start:hover,
.btn-start:focus,
.btn-start:active {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.input-group-addon {
    background-color: var(--off-white);
    border: none;
}

.content-box {
    min-height: 250px;
    height: 250px;
    max-height: 250px;
    min-width: 250px;
    width: 250px;
    max-width: 250px;
    display: flex;
    margin: 20px;
}

.content-box-items {
    width: 100%;
    height: 100%;
    padding: 15px 15px;
    flex-direction: column;
    justify-content: space-between;
}

.img-client {
    max-height: 95px;
    max-width: 135px;
    margin-top: auto;
    margin-bottom: auto;
}


/* #endregion */


/* #region LANDING SECTION */

@media (max-width: 576px) {
    #sectionLanding {
        margin-top: -15px;
    }
}

#geo-location:hover {
    color: var(--tugboat-blue);
}

.img-landing {
    min-width: 115px;
    max-width: 115px;
}

.img-money-back {
    min-width: 95px;
    max-width: 95px;
}

#sectionLanding .container-section-headline {
    padding-top: 0px;
    padding-bottom: 2.5vh;
}

.line-icon {
    border-radius: 50%;
    background: white;
    border: 5px solid var(--tugboat-blue);
    color: var(--tugboat-orange);
    padding: 1.5px;
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    font-weight: 600;
    font-size: 22px;
    position: relative;
}

.line-icon:after {
    content: "";
    display: block;
    height: 35px;
    width: 35px;
    background: transparent;
    position: absolute;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    left: -5px;
    top: -5px;
    clip: rect(17.5px, 35px, 35px, 0px);
    border: 5px solid var(--hover-blue);
}

.line-icon-text {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
}

.landing-timeline-text-row {
    padding-top: 10px;
}

.landing-horizontal-line {
    position: absolute;
    top: 15px;
    width: 95%;
    z-index: -1;
    height: 5px;
    background-color: var(--tugboat-blue);
    /* background: linear-gradient(var(--tugboat-blue), var(--tugboat-blue) 50%, var(--hover-blue) 50%, var(--hover-blue) 100%); */
}

#local-fulfillment {
    padding-left: 25px;
    padding-right: 25px;
}


/* #endregion */


/* #region PRODUCT SECTION */

#sectionProducts .container-section-content {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.products-line {
    display: inline-block;
    height: 5px;
    flex-grow: 1;
}

/* #region PRODUCT CIRCLE */
.product-link {
    display: flex;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
    padding: 0;
}

.product-background {
    background-image: url(../../image/tugboat_vector-website-icons_circle_500x500.svg);
    background-size: 100% 100%;
    height: inherit;
    width: inherit;
    position: absolute;
}

.container-product-icon {
    display: flex;
    height: inherit;
    width: inherit;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.product-icon {
    height: 50px;
    max-width: 62.5px;
    z-index: 1;
}

.container-section-content .product-icon-text {
    margin: 0;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    line-height: 10px;
    font-size: 15px;
    font-weight: 600;
    color: var(--tugboat-orange) !important;
    z-index: 1;
}

#iconBanners {
    transform: scale(1.15);
}
#iconPosters {
    transform: scale(1.5);
}

/* #endregion */

.container-products-content>.product-link:nth-child(1)>.container-product-icon>.product-icon-text {
    margin-top: 10px;
}

.container-products-content>.product-link:nth-child(3)>.container-product-icon>.product-icon-text {
    margin-top: 10px;
}


/* #endregion */


/* #region WHY US SECTION */

#sectionWhyUs .container-section-content {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    max-width: 1160px;
    margin: 20px auto;
    justify-content: center;
}


/* #endregion */


/* #region CLIENT SECTION */

#sectionClients {
    width: 100%;
}

#sectionClients .container-section-btn {
    padding-top: 0px;
    padding-bottom: 0px;
}

#sectionClients .get-started {
    padding-bottom: 0;
}

#sectionClients .container-section-content {
    display: block;
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 2.5vh;
}

.whyus-grid {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px
}

.whyus-grid p {
    color: var(--text-blue);
    font-size: 13px;
    font-weight: 550;
    line-height: 20px;
    margin-bottom: 0px;
}

.whyus-grid img {
    max-width: 60px;
}

.clients-carousel .slick-current.slick-center img {
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    -webkit-transform: scale(1.15);
    opacity: 1;
    transform: scale(1.15);
}

.clients-carousel img {
    -moz-transform: scale(0.55);
    -ms-transform: scale(0.55);
    -o-transform: scale(0.55);
    -webkit-transform: scale(0.55);
    opacity: 0.5;
    transform: scale(0.55);
    transition: all 800ms ease;
}


/* #endregion */


/* #region ENTERPRISE SECTION */

#sectionEnterprise .container-section-content {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#sectionEnterprise .container-section-btn {
    padding-top: 0px;
}

.enterprise-grid {
    padding-top: 10px;
    padding-bottom: 10px;
}

.enterprise-grid-column {
    height: 135px;
    padding: 10px;
}

.enterprise-grid-column:nth-child(1) {
    border-right: 1px solid var(--tugboat-orange);
    border-bottom: 1px solid var(--tugboat-orange);
}

.enterprise-grid-column:nth-child(2) {
    border-left: 1px solid var(--tugboat-orange);
    border-bottom: 1px solid var(--tugboat-orange);
}

.enterprise-grid-column:nth-child(3) {
    border-right: 1px solid var(--tugboat-orange);
    border-top: 1px solid var(--tugboat-orange);
}

.enterprise-grid-column:nth-child(4) {
    border-left: 1px solid var(--tugboat-orange);
    border-top: 1px solid var(--tugboat-orange);
}

.enterprise-grid-column#automatePrintCol {
    padding: 0px;
}

.enterprise-grid-column img {
    max-height: 90px;
    padding-bottom: 10px;
}

.enterprise-grid-column #automatePrint {
    max-height: 100px;
    padding-bottom: 0px;
}

.enterprise-grid-column p {
    color: var(--text-blue);
    font-size: 13px;
    line-height: 13px;
}

.container-pagination {
    width: 10%;
    margin: 25px auto;
}

.page-item {
    color: var(--tugboat-blue);
}

.page-item:hover {
    cursor: pointer;
}


/* #region ENTERPRISE MOCKUP */

.ent-container {
    box-shadow: 0px 2.5px 5px #C6C4C5;
    padding: 0px;
}

.ent-nav {
    margin-bottom: 0px;
}

.ent-nav .navbar-nav {
    margin: 0 0;
}

.ent-nav .nav-item {
    height: 49px;
    width: auto;
}

.ent-nav .nav-link {
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.ent-nav .navbar-brand {
    height: 49px;
    padding-left: 2rem;
}

.ent-link:hover {
    cursor: pointer;
}

.ent-content {
    min-height: 500px;
    height: 500px;
    max-height: 500px;
}

.ent-header {
    margin: 25px;
}

.ent-body-content {
    background-color: white;
}

.ent-body-content .input-group-addon {
    background-color: white;
}

.ent-menu-row {
    margin: 5px;
    border-radius: 7px;
    border: 5px solid white;
    color: white;
    font-weight: 550;
    font-size: 12px;
    letter-spacing: 1px;
    background-color: var(--tugboat-orange);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.ent-menu-category {
    padding: 10px;
}

.ent-menu-category:hover {
    cursor: pointer;
    background-color: var(--hover-blue);
}

.ent-container .form-control {
    background-color: white;
}

.ent-categories-row {
    margin: 5px;
}

.ent-category {
    border-radius: 7px;
    padding: 10px;
    border: 5px solid white;
    color: white;
    font-weight: 550;
    font-size: 12px;
    letter-spacing: 1px;
    background-color: var(--tugboat-orange);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.ent-category:hover {
    cursor: pointer;
    background-color: var(--hover-blue);
}

.ent-app-row {
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.ent-app-row .row:not(:first-child) {
    margin-top: 10px;
}

.ent-horizontal-divider {
    height: 0px;
    width: 50%;
    margin: 0 auto;
    border-top: solid 1px #E8E8E8;
}

.ent-app-row p {
    font-size: 12px;
    margin-bottom: 0px;
}

.ent-app-row .form-control {
    height: auto;
    border-radius: 0px;
    font-size: 12px;
    padding: 3px;
}

.ent-app-row span {
    font-size: 12px;
}

.ent-product-option-row {
    height: 35px;
}

.ent-product-option-row input[type="text"] {
    width: 35px;
}

.ent-product-option-row .input-group-addon {
    padding: 5px 0px;
    color: #666;
    vertical-align: top;
}

.ent-product-option-row .pretty .state label {
    font-size: 12px;
    font-weight: 300;
}

.ent-product-option-row .pretty .state label:after,
.pretty .state label:before {
    top: 1.5px !important;
}

.ent-side-menu {
    height: 271px;
    border-right: 1px solid #C6C4C5;
    font-size: 12px;
}

.ent-bottom-btn {
    margin-top: 35px;
}

.ent-postit {
    border-width: 0px 0px 0px 1px;
    border-style: solid;
    border-image: linear-gradient(to top, black 0%, black 75%, white 75%, white 100%) 1 100%;
}

.ent-footer {
    margin-left: 50px;
    margin-bottom: 5px;
    font-size: 8px;
    font-weight: 500;
}

.ent-footer div {
    float: left;
    margin-left: 10px;
}


/* #endregion */


/* #endregion */


/* #region HOMEPAGE MODALS */

.modal-content {
    padding: 25px !important;
}

.control-label {
    color: var(--hover-blue);
}

.form-control {
    background-color: #F7CFA8
}

.modal-content .form-group .form-horizontal {
    margin-left: 0px;
    margin-right: 0px;
}

@media (min-width: 576px) {
    @media (max-width: 767px) {
        #sectionLanding .container-section-headline {
            padding-top: 0px;
        }
        .section {
            padding-bottom: 30vh;
        }
    }
}

@media (min-width: 768px) {
    .flex-ordering {
        display: flex;
        flex-direction: column;
    }
    .flex-ordering #sectionClients {
        order: 1;
    }
    .flex-ordering #sectionEnterprise {
        order: 2;
        margin-right: 0;
        margin-left: 0;
    }
    .img-landing {
        max-width: 230px;
    }
    .img-money-back {
        max-width: 150px;
    }
    .section {
        padding-bottom: 30vh;
    }
    .section-alternate {
        background-color: var(--off-white);
    }
    .container-section-headline {
        margin-top: 40px;
    }
    .container-section-headline h1 {
        color: var(--tugboat-blue);
        font-size: 48px;
    }
    .container-section-headline h3 {
        font-size: 30px;
        color: #A8A9AD;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .line-icon {
        padding: 10px;
        width: 50px;
        height: 50px;
        font-weight: 600;
        font-size: 28px;
    }
    .landing-horizontal-line {
        top: 22.5px;
    }
    .line-icon:after {
        height: 50px;
        width: 50px;
        clip: rect(25px, 50px, 50px, 0px);
    }
    .line-icon-text {
        font-size: 19px;
    }
    #sectionProducts .container-section-content {
        margin-bottom: 75px;
    }
    #sectionEnterprise .container-section-content {
        margin-bottom: 25px;
    }
    #sectionClients.section {
        padding-bottom: 15vh;
    }
    .container-section-header {
        margin-top: -75px;
        height: 150px;
    }
    .section-header {
        height: 150px;
        width: 150px;
    }
    .container-background {
        height: 150px;
        width: 150px;
    }
    .product-link {
        width: 115px;
        height: 115px;
    }
    .product-icon {
        height: 60px;
        max-width: 75px;
    }
    .container-section-content .product-icon-text {
        font-size: 15px;
        line-height: 15px;
    }
    #sectionLanding .container-section-content {
        margin-bottom: 0px;
    }
    #sectionProducts .container-section-header {
        padding-bottom: 25px;
    }
    #sectionProducts .container-section-content {
        padding-bottom: 50px;
    }
    #sectionProducts .products-desktop-row-two {
        width: 70%;
    }
    #sectionClients .container-section-btn {
        padding-bottom: 100px;
    }
    .enterprise-call-to-action [class*="col-"] {
        padding: 25px;
        height: 250px;
    }
    .enterprise-call-to-action [class*="col-"]:not(:last-child):after {
        content: "";
        position: absolute;
        top: 35%;
        left: 100%;
        display: block;
        height: 35px;
        width: 0px;
        border-right: 2px solid #9E9E9E;
    }
    .enterprise-call-to-action img {
        max-height: 90px;
    }
}

@media (min-width: 992px) {
    .img-landing {
        max-width: 305px;
    }
    .img-money-back {
        max-width: 215px;
    }
    .clients-carousel .slick-current.slick-center img {
        -moz-transform: scale(1.75);
        -ms-transform: scale(1.75);
        -o-transform: scale(1.75);
        -webkit-transform: scale(1.75);
        opacity: 1;
        transform: scale(1.75);
    }
    .clients-carousel img {
        -moz-transform: scale(0.75);
        -ms-transform: scale(0.75);
        -o-transform: scale(0.75);
        -webkit-transform: scale(0.75);
        opacity: 0.5;
        transform: scale(0.75);
        transition: all 800ms ease;
    }
    .product-link {
        width: 150px;
        height: 150px;
    }
    .product-icon {
        height: 80px;
        max-width: 100px;
    }
    .container-section-content .product-icon-text {
        font-size: 17px;
    }
    .container-background {
        height: 200px;
        width: 200px;
    }

    .section-header {
        height: 200px;
        width: 200px;
    }

    .section-header-icon {
        max-height: 135px;
        max-width: 135px;
        margin-top: 32.5px;
    }
    .enterprise-call-to-action img {
        max-height: 130px;
    }
}

@media (min-width: 1200px) {
    .container-section-content .product-icon-text {
        font-size: 19px;
    }
    .product-link {
        width: 175px;
        height: 175px;
    }
    .product-icon {
        height: 100px;
        max-width: 125px;
    }
}