.success-page *:not(i) {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 500; }

.success-page {
  min-height: 70vh; }

.success-page p {
  font-size: 15px;
  font-weight: 400; }

.success-page .btn-primary {
  background: #eb872c;
  color: #ffffff;
  border: none; }

.success-page .btn-primary:hover {
  background: #ff5622;
  color: #ffffff; }

.success-page .btn, .success-page .btn:hover {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

.success-page .btn-secondary {
  background: #055D7E;
  border: none;
  color: #ffffff; }

.success-page .btn-secondary:hover {
  background: #014862;
  border-color: #014862;
  color: #ffffff; }

.success-page button, .success-page .btn {
  margin: 15px 0 0 0;
  padding: 10px 15px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  font-size: 19px;
  text-shadow: none; }
