html,body {
  overflow-x: visible;
}

.main-content *:not(i) {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 500;
}

.main-content {
  min-height: 86vh;
}

.main-content .control-label {
  text-align: left;
}

.main-content .btn-primary {
  font-size: 15px;
  background: #055D7E;
  border: none;
  color: #ffffff;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.main-content .btn-primary:hover {
  background: #014862;
  color: #ffffff;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#mobileContactForm {
  padding-top: 5px;
  padding-bottom: 5px;
}

#mobileMapInfo {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgba(255, 255, 255, 0.9);
}

#mobileMapInfo h1 {
  margin-top: 5px;
  font-size: 16px;
}

#mobileMapInfo h2 {
  margin-top: 10px;
  font-size: 14px;
}

#mobileMapInfo h4 {
  font-size: 12px;
}

.container-section-headline h2 {
  margin-bottom: 0px;
  font-size: 18px;
  line-height: 18px;
}

.container-section-headline h3 {
  margin-bottom: 0px;
}

.container-section-headline h4 {
  font-size: 12px;
  line-height: 12px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.container-contact-form {
  padding-top: 25px;
}

#pageContainer {
  padding-left: 0px;
  padding-right: 0px;
}

.contact-form {
  padding-top: 5px;
}

.container-contact-map {
  position: absolute;
  bottom: 26px;
  margin-top: 20px;
  width: 100%;
}

.contact-map {
  width: 100%;
}

.buttons {
  margin-top: 0px;
  margin-bottom: 0px;
}

.section {
  min-height: initial;
  padding-bottom: 0px;
}

.form-group {
  margin-bottom: 5px;
}

#contactForm {
  position: relative;
}

.container-section-content {
  height: 50vh;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 25px;
}

.contact-form-container {
  font-family: 'Titillium Web', sans-serif !important;
}

.contact-form-blurb {
  margin-top: 0px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  background-color: rgba(255, 255, 255, 0.5);
}

.contact-form-blurb p {
  color: #175F81;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
}

.contact-form .control-label {
  color: black;
  font-size: 14px;
  font-weight: 500;
}

.contact-form .form-control {
  border: solid 1px #175F81;
  border-radius: 0px;
  background-color: rgba(247, 207, 168, 1);
}

.buttons .btn {
  color: white;
  background-color: #175F81;
  margin-top: 5px;
  padding: 2.5px;
}

.container {
  padding-left: 0px;
  padding-right: 0px;
}

@media(min-width: 576px) {
  @media(max-width: 767px) {
    .container-contact-form {
      padding-top: 50px;
    }
  } 
}

@media (min-width: 768px) {
  .container-background {
    height: 100px;
    width: 100px;
  }
  .section-header {
    height: 100px;
    width: 100px;
  }
  .section-header-icon {
    height: 60px;
    margin-top: 20px;
  }
  .container-section-headline h2 {
    font-size: 22px;
    line-height: 22px;
  }

  .container-section-headline h3 {
    margin-bottom: 10px;
  }

  .container-section-headline h4 {
    font-size: 14px;
    line-height: 14px;
  }

  #contactForm {
    position: relative;
  }

  .container-section-content {
    min-height: 550px;
    height: 550px;
    padding-left: 15px;
    padding-right: 15px;
    width: 80%;
  }

  .contact-form-blurb {
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .contact-form-blurb p {
    font-size: 16px;
    line-height: 16px;
  }

  .contact-form .control-label {
    color: white;
    font-size: 16px;
  }

  .buttons {
    text-align: center;
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  #mapInfo {
    margin-left: 5px;
    margin-right: 20px;
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    /* background-color: rgba(255, 255, 255, 0.9); */
  }

  #mapInfo h1 {
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    /* color: var(--tugboat-blue); */
  }

  #mapInfo h2 {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: white;
    /* color: var(--hover-blue); */
  }

  #mapInfo h4 {
    font-size: 16px;
    color: white;
  }
}