.editor *:not(i),
#step-2 *:not(i) {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 400;
}
input.hidden-ctrl {
	display: none;
}

/* Helper styles which remove the need for inline styling */
.top-margin-20 {
	margin-top: 20px;
}

.bottom-margin-20 {
	margin-bottom: 20px;
}

.btn-tools {
	background: linear-gradient(to bottom, #23a1d1, #1f90bb) !important;
	color: #fff;
}

div#image-tools > label {
	width: 100%;
}

.no-display {
	display: none;
}

.inline-display {
	display: inline-block;
}

.block-display {
	display: block;
}

.line-through {
	text-decoration: line-through;
}

.btn {
	padding: 8px 16px;
	background: transparent;
	border: none;
	box-shadow: none;
}

.btn:hover {
	color: #000;
}

.btn-backsave {
	margin-top: 5px;
	margin-left: 10px;
	padding: 2px 5px 2px 0px;
	background: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;
}

div.template {
	height: 300px;
	width: 300px;
	margin-left: 8px;
}

div.backsidetemplates,
div.frontsidetemplates {
	height: 300px;
	overflow: auto;
	overflow: scroll;
	overflow-x: hidden;
}

div.backsidetemplates::-webkit-scrollbar,
div.frontsidetemplates::-webkit-scrollbar {
	width: 18px;
}

div.backsidetemplates::-webkit-scrollbar-track,
div.frontsidetemplates::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}

div.backsidetemplates::-webkit-scrollbar-thumb,
div.frontsidetemplates::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
	background-color: #cdcdcd;
}

ul.color-pickers li {
	display: inline-block;
	color: #000;
}

ul.color-pickers li:nth-child(1) {
	margin-right: 30px;
}

ul.color-pickers li:nth-child(2) {
	margin-right: 110px;
}
#filter-wrapper {
	display: flex;
	width: 100%;
}
#filter-wrapper label {
	margin-bottom: 0;
}

.heading-extra-spacing {
	margin-top: 15px;
	margin-bottom: 15px;
}

.form-img-controls {
	display: flex;
	flex-direction: column;
}
.form-img-controls > input:nth-child(2) {
	width: 103px;
	box-sizing: border-box;
	margin-top: 5px;
}

div#filter-wrapper-back {
	margin-top: 20px;
	width: 100%;
}

div#filter-wrapper label > span,
div#filter-wrapper-back label > span {
	display: inline-block;
	width: auto;
	vertical-align: middle;
}

.mini-width {
	width: 100%;
}

.no-pad {
	padding: 0;
}

.no-pad-full {
	width: 100%;
	padding: 0;
}

span.select2.select2-container.select2-container--default {
	width: 100% !important;
}

span.select2-selection.select2-selection--single {
	padding-bottom: 32px;
}

span.select2-selection__arrow {
	margin-top: 2px;
	margin-right: -10px;
}

div#filter-wrapper label > input[type='checkbox'],
div#filter-wrapper-back label > input[type='checkbox'] {
	display: inline-block;
	width: auto;
	vertical-align: middle;
	padding-top: 0;
	margin-top: 0;
}

div#palette-wrap {
	width: 10%;
	margin: 0;
	padding: 0;
}

div.sp-replacer {  
	border: none;
}

input.editable-field {
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #ddd;
	padding: 5px;
	width: 100%;
	outline: none;
}

.btn-add-editable,
.btn-back-add-editable {
	margin-top: 10px;
	margin-left: 5px;
	background: linear-gradient(to bottom, #23a1d1, #1f90bb);
	color: #fff;
}

.panel {
	border-radius: 0;
}

div.droppable,
div.droppable-back,
div.droppable-background,
div.droppable-back-frontback,
div.droppable-back-backback {
	position: relative;
	overflow: hidden;
	background: #f1f1f1;
	width: 325px;
	height: 325px;
	border: 1px dashed #000;
	border-radius: 10px;
}

.btn-useasback {
	background: linear-gradient(to bottom, #23a1d1, #1f90bb);
	color: #fff;
}

.btn-useasback:hover {
	color: #fff;
}

.btn-addtocanvas {
	background: linear-gradient(to bottom, #23a1d1, #1f90bb);
	color: #fff;
}

.btn-addtocanvas:hover {
	color: #fff;
}

#user-image,
#user-image-background,
#user-image-back-frontback,
#user-image-back-backback {
	position: absolute;
	width: 325px;
	height: 370px;
	top: -50px;
	z-index: 2;
	left: 0;
	opacity: 0;
	cursor: pointer;
}

div.droppable img,
div.droppable-back img,
div.droppable-background img,
div.droppable-back-backback img,
div.droppable-back-frontback img {
	position: absolute;
	width: 325px;
	height: 325px;
	top: -1px;
	left: -1px;
	z-index: 1;
	border: none;
}

div#design-panel > div.panel-heading,
div#text-panel > div.panel-heading,
div#image-panel > div.panel-heading,
div#options-panel > div.panel-heading {
	background-color: #cdcdcd;
	text-transform: uppercase;
	color: #fff;
	border-radius: 0;
}

div#back-design-panel > div.panel-heading,
div#back-text-panel > div.panel-heading,
div#back-image-panel > div.panel-heading,
div#back-options-panel > div.panel-heading {
	background-color: #eb882d;
	text-transform: uppercase;
	color: #fff;
}

i.fa.fa-upload {
	font-size: 16px;
}

canvas#canvas-product-back {
	border: 1px solid #efefef;
}
/* .container-btn-save {
    border: none !important;
} */

.btn-save {
	padding: 15px;
	position: relative;
	border-radius: 0;
}
.btn-primary {
	background-color: #229ac8;
	background-image: -webkit-linear-gradient(#23a1d1, #1f90bb);
	background-image: -o-linear-gradient(#23a1d1, #1f90bb);
	background-image: linear-gradient(#23a1d1, #1f90bb);
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;
}

button#add-editable {
	margin-top: 10px;
}

.nav-tabs {
	cursor: pointer;
}

.btn-group > ul.dropdown-menu {
	padding: 0;
}

.btn-group > ul.dropdown-menu li a {
	color: black;
	padding-top: 5px;
	padding-bottom: 5px;
}

.btn-group > ul.dropdown-menu li a:hover {
	background-color: #cdcdcd !important;
	color: black;
}

.btn-group.open.dropdown-toggle {
	box-shadow: none !important;
}

i.fa.fa-trash-o {
	color: #ff0000;
}

div.no-right-pad {
	padding-right: 0;
}

/* End of Helper styles */

div#overlaycanvas,
div#backoverlaycanvas {
	position: absolute;
	top: 20px;
	left: 30px;
}

div#placeholdercanvas,
div#backplaceholdercanvas {
	display: none;
}

div#text-wrapper,
div#backtext-wrapper {
	margin-top: 10px;
	border: 1px solid #ddd;
	padding: 5px;
	background: #f1f0f0;
}

div#text-controls button[type="button"]:hover {
	background-color: transparent;
}

#select-drop-btn {
	color: #fff;
}

ul.dropdown-menu li:active,
ul.dropdown-menu li:visited,
ul.dropdown-menu li:focus {
	background-color: transparent;
}

#select-drop-btn:focus,
#select-drop-btn:visited,
#select-drop-btn:active {
	background-color: transparent;
}

div#text-wrapper .fa,
div#backtext-wrapper .fa {
	color: #000;
}

ul.red-border {
	display: inline-block;
	border: 10px solid #ff0000 !important;
}

nav.menu-back {
	background-color: #fff;
	height: 50px;
	width: 97.5%;
	margin-left: 15px;
	border: 1px solid #ddd;
	color: #000;
}

button.navbar-toggle.collapsed > span.icon-bar {
	background-color: #fff;
}

div#menubar li a {
	color: #000;
}

div#menubar li a:hover {
	cursor: pointer;
	background: #f1f0f0;
}

div#backmenubar li a:hover {
	cursor: pointer;
	background: transparent;
}

div#backmenubar li a {
	color: #000;
}

div#backmenubar li a:active {
	background-color: #cdcdcd !important;
}

div#menubar li a:active {
	background-color: #cdcdcd !important;
}

nav.menu-back-back {
	/*background: linear-gradient(to bottom, #fcfcfc, #f5f5f5);*/
	background-color: #fff;
	height: 50px;
	width: 97.5%;
	margin-left: 15px;
	box-shadow: 0 0 1px #000;
	color: #000;
}

.nav-options {
	padding-top: 8px;
	border-bottom: 0;
}

.nav-options li a {
	color: #fff;
	border: 0;
}

.nav-options li a:hover {
	background: transparent;
	border: 0;
	transform: none;
	color: #000;
}

.nav-buttons-right {
	padding-top: 3px;
}

.nav-buttons-right button:hover {
	color: #f5f5f5;
}

h4.shapes-header {
	border-bottom: 1px solid #f1f1f1;
}

a.square-ctrl {
	width: 40px;
	height: 40px;
	background-color: #eb882d;
	display: block;
	cursor: pointer;
}

a.circle-ctrl {
	width: 40px;
	height: 40px;
	background-color: #eb882d;
	display: block;
	border-radius: 50% 50%;
	cursor: pointer;
}

a.triangle-ctrl {
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 30px solid #000;
	position: absolute;
	top: 5px;
	right: 10px;
	cursor: pointer;
}

a.line-ctrl {
	width: 5px;
	height: 50px;
	cursor: pointer;
	display: block;
	background-color: #eb882d;
}

a.svg-ctrl {
	width: 30px;
	height: 30px;
	background-color: #000;
	display: block;
}

a.polygon-ctrl {
	width: 40px;
	height: 40px;
	background-color: #000;
	display: block;
}

a.polygon-ctrl > img {
	transform: scale(1.6);
}

a.trapezoid-ctrl > img {
	transform: scale(1.6);
}

a.star-ctrl > img {
	transform: scale(1.6);
}

a.heart-ctrl > .fa.fa-heart {
	font-size: 44px;
	color: #000;
}

.add-height {
	height: auto;
}

/* Dropzone styles */
.dropzone-previews {
	border: 1px dashed #000;
	border-radius: 10px;
	width: 320px;
	height: 100px;
}

.dropzone .dz-preview .dz-success-mark svg {
	display: none;
}

.dropzone {
	cursor: pointer;
}

.dropzone .dz-preview .dz-error-mark svg {
	display: none;
}

a.dz-remove {
	width: 80px;
	height: 80px;
	background-color: red;
	border-radius: 50% 50%;
	display: block;
	margin-left: 38%;
}

a.dz-remove:before {
	position: relative;
	font-family: FontAwesome;
	content: "\f00d";
	color: #fff;
	font-size: 32px;
	top: 30px;
}

/* Font selection styles */
.select2-selection {
	width: 150px;
}

.select2-selection.select2-selection--single {
	width: 150px;
}

.select2-selection.select2-selection--single > .select2-selection__arrow {
	background: transparent;
}

.select2-results__option.opt-arial {
	font-family: 'Arial';
}

.select2-results__option.opt-helvetica {
	font-family: 'Helvetica';
}

.select2-results__option.opt-myriad {
	font-family: 'Myriad Pro';
}

.select2-results__option.opt-delicious {
	font-family: 'Delicious';
}

.select2-results__option.opt-verdana {
	font-family: 'Verdana';
}

.select2-results__option.opt-georgia {
	font-family: 'Georgia';
}

.select2-results__option.opt-courier {
	font-family: 'Courier Sans MS';
}

.select2-results__option.opt-impact {
	font-family: 'Impact';
}

.select2-results__option.opt-monaco {
	font-family: 'Monaco';
}

.select2-results__option.opt-optima {
	font-family: 'Optima';
}

.select2-results__option.opt-hoefler {
	font-family: 'Hoefler Text', sans-serif;
}

.select2-results__option.opt-plaster {
	font-family: 'Plaster';
}

.select2-results__option.opt-engagement {
	font-family: 'Engagement';
}

.select2-results__option.opt-times {
	font-family: 'Times New Roman';
}

canvas#canvas-product-front {
	width: 700px;
	height: 500px;
}

/* End font selection styles */

/* New Progression? */

.wizard {
	margin: 10px auto 40px auto;
	background: #fff;
}

.wizard .nav-tabs {
	position: relative;
	margin: 0 auto;
	margin-bottom: 0;
	border-bottom: none;
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	border: none;
}

.wizard > div.wizard-inner {
	position: relative;
}

.connecting-line {
	height: 2px;
	background: #e0e0e0;
	position: absolute;
	width: 70%;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 50%;
	z-index: 1;
}

.setup-content .active:hover,
.setup-content .active > a:hover {
	background: #cdcdcd !important;
}

.wizard .nav-tabs > li.active > a,
.wizard .nav-tabs > li.active > a:hover,
.wizard .nav-tabs > li.active > a:focus {
	color: #555555;
	cursor: default;
	border: 0;
	border-bottom-color: transparent;
}

span.rectangle-tab {
	width: 140px;
	height: 70px;
	line-height: 70px;
	display: inline-block;
	background: #fff;
	border: 2px solid #e0e0e0;
	z-index: 2;
	position: absolute;
	left: 0;
	text-align: center;
	font-size: 25px;
}
span.rectangle-tab i {
	color: #555555;
}
.wizard li.active span.rectangle-tab {
	background: #fff;
	border: 2px solid #055d7e;
	color: #055d7e;
}
.wizard li.active span.rectangle-tab i {
	color: #055d7e;
}

span.rectangle-tab:hover {
	color: #333;
	border: 2px solid #333;
}

.wizard .nav-tabs > li {
	height: 125px;
	float: none;
	box-sizing: content-box;
	margin: 0;
	width: 33.3333%;
	display: flex;
	cursor: default;
}
.wizard .nav-tabs > li:nth-child(1) {
	align-items: center;
	justify-content: flex-start;
}
.wizard .nav-tabs > li:nth-child(2) {
	align-items: center;
	justify-content: center;
}
.wizard .nav-tabs > li:nth-child(3) {
	align-items: center;
	justify-content: flex-end;
}

.wizard .nav-tabs > li a {
	width: 125px;
	height: 125px;
	margin: 0;
	padding: 0;
	border-radius: 0;
	border: none;
	text-decoration: none;
}
.wizard .nav-tabs > li a:hover {
	text-decoration: none;
	background: #ffffff;
}
.wizard .nav-tabs > li a:focus {
	text-decoration: none;
	background: #ffffff;
}
.wizard .tab-pane {
	position: relative;
	padding-top: 50px;
}

.wizard h3 {
	margin-top: 0;
}

#rulerwrapper {
	position: relative;
	top: 0;
	/*left: 20px; */
	margin: 0 auto;
}

#rulerBottom {
	position: absolute;
	z-index: 9999;
	top: 0;
	left: 0;
}

@media (max-width: 585px) {
	.wizard {
		width: 90%;
		height: auto !important;
	}

	span.rectangle-tab {
		font-size: 16px;
		width: 50px;
		height: 50px;
		line-height: 50px;
	}

	.wizard .nav-tabs > li a {
		width: 50px;
		height: 50px;
		line-height: 50px;
	}

	.wizard li.active:after {
		content: " ";
		position: absolute;
		left: 35%;
	}
}

@media (max-width: 585px) {
	div.template {
		width: 100%;
		margin-left: 0px;
	}

	div.menu-back {
		width: 90%;
	}

	div.menu-back > .nav-options {
		float: none;
	}
}

.container-background-circle {
	background-image: url(../image/tugboat_vector-website-icons_circle_500x500.svg);
	background-position: center center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	display: block;
	height: 125px;
	width: 125px;
	position: absolute;
	padding: 0;
}

.setup-panel > li:nth-child(2) > a {
	margin: 0 auto;
}

/* .setup-panel > li:nth-child(3) > a {
    float: right;
} */
.setup-panel > li:nth-child(3) > a > .step-content > .step-content-image {
	margin-right: 15px;
}
.step-content {
	height: 125px;
	width: 125px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 15px 0;
}
.step-content-image {
	max-height: 50px;
	max-width: 50px;
}
.step-content-text {
	margin: 0;
	padding: 0;
	color: #115d7e;
	font-family: 'Titillium Web', sans-serif;
	font-size: 19px;
	font-weight: 500;
}

.disabled a,
.disabled a:hover,
.disabled,
.disabled:hover {
	border: none !important;
}

.disabled {
	opacity: 0.5;
}

.text-controls > .row:nth-chil(2) > .btn-group:nth-child(1) {
	margin-top: 15px;
}
#step-1 .col-xs-12 {
	margin: 0;
	padding: 0;
	width: 100%;
}
#step-1
	> div
	> div
	> .row:nth-child(2)
	> div
	> div:nth-child(2)
	> div:nth-child(2)
	> div
	> div
	> div:nth-child(2) {
	padding: 0;
	margin: 0;
}
#step-1
	> div
	> div
	> .row:nth-child(2)
	> div
	> div:nth-child(2)
	> div:nth-child(2)
	> div
	> div
	> div:nth-child(2)
	> .btn-group:not(:last-child) {
	margin-top: 15px;
	margin-bottom: 15px;
	float: left;
}
#step-1
	> div
	> div
	> .row:nth-child(2)
	> div
	> div:nth-child(2)
	> div:nth-child(2)
	> div
	> div
	> div:nth-child(2)
	> .btn-group:nth-child(1) .btn:active {
	border-radius: 0;
}
#step-1 > div > div > div {
	margin: 20px 0 0 0;
	width: 100%;
	float: none;
}
#step-1 .menu-back {
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	float: none;
	height: 100%;
}
#step-1 .container-fluid {
	width: 100%;
	margin: 0;
	padding: 0;
}
#step-1 .navbar-collapse {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 50px !important;
}
#step-1 .navbar-collapse ul {
	width: 50%;
	margin: 0;
	padding: 0;
}
#step-1 .top-margin-20 .col-md-3 {
	margin: 0;
	padding: 0;
}

.container-steps {
	width: 100%;
	margin: 0;
	padding: 0;
}

.container-steps > .row,
.container-steps > .row > section {
	margin: 0;
	float: none;
	padding: 0;
	width: 100%;
}
.container-steps > .row > section > .wizard,
.container-steps > .row > section > .wizard > .wizard-inner {
	width: 100%;
}

#step-1 .navbar-collapse .nav:nth-child(1),
#step-1 .navbar-collapse .nav:nth-child(2) {
	height: 100%;
}

#step-1 .navbar-collapse .nav:nth-child(2) {
	display: flex;
	align-items: center;
	float: none !important;
}

#step-1 .navbar-collapse .nav:nth-child(2) li {
	float: none;
	display: flex;
	margin: 0;
	padding: 0;
	flex-direction: row;
	flex-grow: 1;
	height: 100%;
}

#step-1 .navbar-collapse .nav:nth-child(2) li > button {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}
#step-1 .navbar-collapse .nav:nth-child(2) li > .btn-group {
	width: 100%;
}
#step-1 .navbar-collapse .nav:nth-child(2) li > .btn-group > .dropdown-toggle {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
#step-1 .navbar-collapse .nav:nth-child(2) li
	> .btn-group
	> .dropdown-toggle
	> .caret {
	margin-left: 5px;
}
#step-1 .top-margin-20 .col-md-9 {
	padding: 0;
	float: right;
}

#step-1 .navbar-collapse .nav:nth-child(2) li > .btn-group > .btn-arrange {
	border-radius: 0;
	background: #ffffff;
	transition: all .2s ease-in-out;
}
#step-1 .navbar-collapse .nav:nth-child(2) li
	> .btn-group
	> .btn-arrange:hover {
	background: #f1f0f0;
	transition: all .2s ease-in-out;
}
#step-1 .navbar-collapse .nav:nth-child(2) li
	> .btn-group.open .dropdown-toggle {
	background: #cdcdcd;
	box-shadow: none;
}
#step-1 .navbar-collapse .nav:nth-child(2) li > .btn-group.open .dropdown-menu {
	border-radius: 0;
}
#step-1 .navbar-collapse .nav:nth-child(2) li
	> .btn-group.open
	> .dropdown-menu li
	> a {
	display: block;
	width: 100%;
	text-align: center;
}
#step-1 .navbar-collapse .nav:nth-child(2) li
	> .btn-group.open
	> .dropdown-menu li:hover {
	background: #f1f0f0;
}

#step-1 .navbar-collapse .nav:nth-child(2) li
	> .btn-group
	> ul.dropdown-menu li a {
	background: #ffffff;
	transition: all .2s ease-in-out;
}

#step-1 .navbar-collapse .nav:nth-child(2) li
	> .btn-group
	> ul.dropdown-menu li a:hover,
#step-1 .navbar-collapse .nav:nth-child(2) li:not(:last-child) > .btn:hover {
	background: #f1f0f0 !important;
	transition: all .2s ease-in-out;
}

#step-1 .navbar-collapse .nav:nth-child(2) li > .btn {
	border-radius: 0;
	transition: all .2s ease-in-out;
	background: #ffffff;
}
.frontsidetemplates > h4 {
	padding: 0;
}
.frontsidetemplates .row {
	margin: 0;
	padding: 10PX;
	width: 100%;
}

.frontsidetemplates .img-thumbnail.img-responsive {
	border-radius: 0;
}

#design-panel > .panel-body {
	padding: 0;
}

#design-panel .template {
	height: 300px;
	width: 100%;
	margin: 0;
}

#text-panel #text-controls > .row {
	width: 100%;
	margin: 0;
}

#text-panel #text-controls > .row > .col-md-5 {
	margin: 0;
	padding: 0;
	float: left;
	box-sizing: border-box;
	max-width: 65px;
}
#text-panel #text-controls > .row > .col-md-7 {
	margin: 0 26px 0 0px;
	padding: 0;
	box-sizing: border-box;
	max-width: 140px;
	float: left;
}
#text-panel #text-controls > div:nth-child(2) > div:nth-child(2) {
	width: 100%;
}

#text-panel #text-controls
	> div:nth-child(2)
	> div:nth-child(2)
	> .color-pickers {
	margin: 0;
	padding: 0;
	width: 100%;
	display: block;
}

#text-panel #text-controls
	> div:nth-child(2)
	> div:nth-child(2)
	> .color-pickers li {
	margin: 0 !important;
	padding: 8px 16px;
	float: left;
}

#text-panel #text-controls
	> div:nth-child(2)
	> div:nth-child(2)
	> .color-pickers li
	> div {
	margin: 0;
	padding: 0;
	display: inline-block;
}
#text-panel #text-controls > .row:nth-child(2) > .btn-group .btn {
	margin: 0;
	border-radius: 0;
	min-height: 40px;
	min-width: 46px;
}
.btn-add-editable {
	float: left;
	margin: 10px 0 0 0;
	border-radius: inherit;
	color: #424242;
	background: #f1f0f0;
	border: 1px solid #cdcdcd;
	font-weight: 500;
	transition: all .2s ease-in-out;
}
.btn-add-editable:hover {
	background: #cdcdcd;
	color: #000000;
	transition: all .2s ease-in-out;
}
.btn-add-editable:focus {
	outline: none;
}
.container-options-shapes {
	width: 100%;
	margin: 0;
	padding: 0;
}
.container-options-shapes > .row {
	width: 100%;
	margin: 0;
	padding: 0;
}
.container-options-shapes > .row > .col-md-3 {
	width: 100%;
	margin: 0;
	padding: 0;
}

.container-options-shapes > .row > .col-md-3 > .row {
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.container-options-shapes > .row > .col-md-3 > .row > .col-md-3 {
	margin: 0;
	padding: 0;
}
.container-options-shapes > .row:nth-child(2) {
	width: 100%;
	margin: 0;
	padding: 0;
}
.container-options-shapes > .row:nth-child(2) > div {
	width: 100% !important;
	margin: 0 !important;
	padding: 0 !important;
}
.container-options-shapes > .row:nth-child(2) > div > h4 {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #f1f1f1;
}
.container-options-shapes > .row:nth-child(2) > div > div {
	float: left;
	margin: 0;
}
.container-btn-save > .btn-save {
	background: #055d7e !important;
	color: #ffffff;
	border: none;
}
.container-btn-save > .btn-save:hover {
	background: #014862 !important;
}
#step-2 {
	width: 100%;
	margin: 20px 0 0 0;
	padding: 0;
}
#step-2 > .col-xs-12 {
	float: none;
	width: 100%;
	margin: 0;
	padding: 0;
}
#step-2 > .col-xs-12 > .col-md-12 {
	float: none;
	width: 100%;
	margin: 0;
	padding: 0;
}
#step-2 > .col-xs-12 > .col-md-12 > .row:nth-child(1) {
	float: none;
	width: 100%;
	margin: 0;
	padding: 0;
}
#step-2 > .col-xs-12 > .col-md-12 > .row:nth-child(1) > .col-md-3 {
	margin: 0;
	padding: 0;
}
/*
#step-2 > .col-xs-12 > .col-md-12 > .row > .col-md-9 {
    margin: 0;
    padding: 0;
} */
#step-2 > .col-xs-12 > .col-md-12 > .row:nth-child(1) > .menu-back-back {
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	float: none;
	height: 100%;
	box-shadow: none;
	border: 1px solid #ddd;
	color: #000;
}
#step-2
	> .col-xs-12
	> .col-md-12
	> .row:nth-child(1)
	> .menu-back-back
	> .container-fluid {
	width: 100%;
	margin: 0;
	padding: 0;
	float: none;
}
#step-2
	> .col-xs-12
	> .col-md-12
	> .row:nth-child(1)
	> .menu-back-back
	> .container-fluid
	> .navbar-collapse {
	width: 100%;
	margin: 0;
	padding: 0;
	float: none;
}
#step-2
	> .col-xs-12
	> .col-md-12
	> .row:nth-child(1)
	> .menu-back-back
	> .container-fluid
	> .navbar-collapse
	> .nav {
	width: 50%;
	margin: 0;
	padding: 0;
	display: block;
	height: 100%;
}
#step-2
	> .col-xs-12
	> .col-md-12
	> .row:nth-child(1)
	> .menu-back-back
	> .container-fluid
	> .navbar-collapse
	> .nav:nth-child(2) {
	display: flex;
	align-items: center;
}
#step-2
	> .col-xs-12
	> .col-md-12
	> .row:nth-child(1)
	> .menu-back-back
	> .container-fluid
	> .navbar-collapse
	> .nav:nth-child(2) li {
	float: none;
	display: flex;
	margin: 0;
	padding: 0;
	flex-direction: row;
	flex-grow: 1;
	height: 100%;
	background: #ffffff;
	align-items: center;
	justify-content: center;
	transition: all .2s ease-in-out;
}
#step-2
	> .col-xs-12
	> .col-md-12
	> .row:nth-child(1)
	> .menu-back-back
	> .container-fluid
	> .navbar-collapse
	> .nav:nth-child(2) li .btn {
	width: 100%;
	height: 100%;
	display: block;
	padding: 15px 0;
	margin: 0;
	border-radius: 0;
	box-shadow: none;
	transition: all .2s ease-in-out;
}
#step-2
	> .col-xs-12
	> .col-md-12
	> .row:nth-child(1)
	> .menu-back-back
	> .container-fluid
	> .navbar-collapse
	> .nav:nth-child(2) li:not(:last-child):hover {
	background: #f1f0f0;
	transition: all .2s ease-in-out;
}
#step-2
	> .col-xs-12
	> .col-md-12
	> .row:nth-child(1)
	> .menu-back-back
	> .container-fluid
	> .navbar-collapse
	> .nav:nth-child(1) li {
	background: #ffffff;
	transition: all .2s ease-in-out;
}
#step-2
	> .col-xs-12
	> .col-md-12
	> .row:nth-child(1)
	> .menu-back-back
	> .container-fluid
	> .navbar-collapse
	> .nav:nth-child(1) li:not(.active):hover {
	background: #f1f0f0 !important;
	transition: all .2s ease-in-out;
}
#step-2
	> .col-xs-12
	> .col-md-12
	> .row:nth-child(1)
	> .menu-back-back
	> .container-fluid
	> .navbar-collapse
	> .nav:nth-child(2) li:last-child {
	background: #055d7e;
	color: #ffffff;
	transition: all .2s ease-in-out;
}
#step-2
	> .col-xs-12
	> .col-md-12
	> .row:nth-child(1)
	> .menu-back-back
	> .container-fluid
	> .navbar-collapse
	> .nav:nth-child(2) li:last-child:hover {
	background: #014862;
	color: #ffffff;
	transition: all .2s ease-in-out;
}
#step-2
	> .col-xs-12
	> .col-md-12
	> .row:nth-child(1)
	> .menu-back-back
	> .container-fluid
	> .navbar-collapse
	> .nav:nth-child(2) li:last-child
	> button {
	background: #055d7e;
	color: #ffffff;
	transition: all .2s ease-in-out;
}
#step-2
	> .col-xs-12
	> .col-md-12
	> .row:nth-child(1)
	> .menu-back-back
	> .container-fluid
	> .navbar-collapse
	> .nav:nth-child(2) li:last-child
	> button:hover {
	background: #014862;
	color: #ffffff;
	transition: all .2s ease-in-out;
}
#step-2
	> .col-xs-12
	> .col-md-12
	> .row:nth-child(1)
	> .menu-back-back
	> .container-fluid
	> .navbar-collapse
	> .nav:nth-child(2) li:first-child
	> .open {
	height: 100%;
	width: 100%;
	box-shadow: none;
	background: #cdcdcd;
	outline: none;
	border: none;
	border-radius: 0;
	transition: all .2s ease-in-out;
}
#step-2
	> .col-xs-12
	> .col-md-12
	> .row:nth-child(1)
	> .menu-back-back
	> .container-fluid
	> .navbar-collapse
	> .nav:nth-child(2) li:first-child
	> .open:active,
#step-2
	> .col-xs-12
	> .col-md-12
	> .row:nth-child(1)
	> .menu-back-back
	> .container-fluid
	> .navbar-collapse
	> .nav:nth-child(2) li:first-child
	> .open:focus,
#step-2
	> .col-xs-12
	> .col-md-12
	> .row:nth-child(1)
	> .menu-back-back
	> .container-fluid
	> .navbar-collapse
	> .nav:nth-child(2) li:first-child
	> .open:hover {
	transition: all .2s ease-in-out;
}
#step-2
	> .col-xs-12
	> .col-md-12
	> .row:nth-child(1)
	> .menu-back-back
	> .container-fluid
	> .navbar-collapse
	> .nav:nth-child(2) li:first-child
	> .btn-group {
	box-shadow: none;
	height: 100%;
	width: 100%;
}
#step-2
	> .col-xs-12
	> .col-md-12
	> .row:nth-child(1)
	> .menu-back-back
	> .container-fluid
	> .navbar-collapse
	> .nav:nth-child(2) li:first-child
	> .btn-group
	> .btn
	> .caret {
	margin-left: 5px;
}
#step-2
	> .col-xs-12
	> .col-md-12
	> .row:nth-child(1)
	> .menu-back-back
	> .container-fluid
	> .navbar-collapse
	> .nav:nth-child(2) li:first-child
	> .open
	> .btn:active,
#step-2
	> .col-xs-12
	> .col-md-12
	> .row:nth-child(1)
	> .menu-back-back
	> .container-fluid
	> .navbar-collapse
	> .nav:nth-child(2) li:first-child
	> .btn-group
	> .btn:active {
	box-shadow: none !important;
	transition: all .2s ease-in-out;
}
#step-2
	> .col-xs-12
	> .col-md-12
	> .row:nth-child(1)
	> .menu-back-back
	> .container-fluid
	> .navbar-collapse
	> .nav:nth-child(2) li:first-child
	> .open
	> .dropdown-menu {
	background: #ffffff;
	border-radius: 0;
	margin: 0;
	box-sizing: border-box;
}

#step-2
	> .col-xs-12
	> .col-md-12
	> .row:nth-child(1)
	> .menu-back-back
	> .container-fluid
	> .navbar-collapse
	> .nav:nth-child(2) li:first-child
	> .open
	> .dropdown-menu
	> li a:hover {
	background: #f1f0f0 !important;
	transition: all .2s ease-in-out;
}
#step-2
	> .col-xs-12
	> .col-md-12
	> .row:nth-child(1)
	> .menu-back-back
	> .container-fluid
	> .navbar-collapse
	> .nav:nth-child(2) li:first-child
	> .open
	> .dropdown-menu
	> li a {
	display: block;
	width: 100%;
	box-sizing: border-box;
	border: none;
	background: #ffffff;
	transition: all .2s ease-in-out;
	text-align: center;
}

#step-2
	> .col-xs-12
	> .col-md-12
	> .row:nth-child(2)
	> .col-md-3
	> #back-design-panel
	> .panel-heading {
	background: #cdcdcd;
	border-radius: 0;
}
#step-2 > .col-xs-12 > .col-md-12 > .row:nth-child(2) {
	width: 100%;
	margin: 20px 0 0 0;
}
#step-2 > .col-xs-12 > .col-md-12 > .row:nth-child(2) > .col-md-3,
#step-2 > .col-xs-12 > .col-md-12 > .row:nth-child(2) > .col-md-9 {
	padding: 0;
	border-radius: 0;
}
#step-2
	> .col-xs-12
	> .col-md-12
	> .row:nth-child(2)
	> .col-md-3
	> #back-design-panel
	> .panel-body {
	width: 100%;
	height: 100%;
	display: block;
	padding: 0;
}
#step-2
	> .col-xs-12
	> .col-md-12
	> .row:nth-child(2)
	> .col-md-3
	> #back-design-panel
	> .panel-body
	> .template {
	width: 100%;
	margin: 0;
}
#step-2
	> .col-xs-12
	> .col-md-12
	> .row:nth-child(2)
	> .col-md-3
	> #back-design-panel
	> .panel-body
	> .template
	> .backsidetemplates {
	width: 100%;
	border: none;
	margin: 0;
}
#step-2
	> .col-xs-12
	> .col-md-12
	> .row:nth-child(2)
	> .col-md-3
	> #back-design-panel
	> .panel-body
	> .template
	> .backsidetemplates
	> .row {
	margin: 0;
	padding: 10px;
	width: 100%;
}
#step-2
	> .col-xs-12
	> .col-md-12
	> .row:nth-child(2)
	> .col-md-3
	> #back-design-panel
	> .panel-body
	> .template
	> .backsidetemplates
	> .row
	> .col-md-4
	> a
	> img {
	border-radius: 0;
}
#step-2  .panel-heading {
	background: #cdcdcd !important;
	border-radius: 0;
}
#step-2 .btn-back-add-editable {
	float: left;
	margin: 10px 0 0 0;
	border-radius: inherit;
	color: #424242;
	background: #f1f0f0;
	border: 1px solid #cdcdcd;
	transition: all .2s ease-in-out;
}
#step-2 .btn-back-add-editable:hover {
	background: #cdcdcd;
	color: #000000;
	transition: all .2s ease-in-out;
}

#step-2
	> .col-xs-12
	> .col-md-12
	> .row:nth-child(2)
	> .col-md-3
	> #back-text-panel
	> .panel-body
	> #text-wrapper {
	margin-top: 10px;
	border: 1px solid #ddd;
	padding: 5px;
	background: #f1f0f0;
}
#step-2
	> .col-xs-12
	> .col-md-12
	> .row:nth-child(2)
	> .col-md-3
	> #back-text-panel
	> .panel-body
	> #text-wrapper
	> #text-controls
	> .row:nth-child(1) {
	width: 100%;
	margin: 0;
}
#step-2
	> .col-xs-12
	> .col-md-12
	> .row:nth-child(2)
	> .col-md-3
	> #back-text-panel
	> .panel-body
	> #text-wrapper
	> #text-controls
	> .row:nth-child(2) {
	width: 100%;
	margin: 0;
	padding: 0;
}

#step-2
	> .col-xs-12
	> .col-md-12
	> .row:nth-child(2)
	> .col-md-3
	> #back-text-panel
	> .panel-body
	> #text-wrapper
	> #text-controls
	> .row:nth-child(1)
	> .col-md-7 {
	margin: 0 26px 0 0px;
	padding: 0;
	box-sizing: border-box;
	max-width: 140px;
	float: left;
}
#step-2
	> .col-xs-12
	> .col-md-12
	> .row:nth-child(2)
	> .col-md-3
	> #back-text-panel
	> .panel-body
	> #text-wrapper
	> #text-controls
	> .row:nth-child(1)
	> .col-md-5 {
	margin: 0;
	padding: 0;
	float: left;
	box-sizing: border-box;
	max-width: 65px;
}
#step-2
	> .col-xs-12
	> .col-md-12
	> .row:nth-child(2)
	> .col-md-3
	> #back-text-panel
	> .panel-body
	> #text-wrapper
	> #text-controls
	> .row:nth-child(2)
	> .btn-group:nth-child(1) {
	margin-top: 15px;
	margin-bottom: 15px;
	float: left;
}
#step-2
	> .col-xs-12
	> .col-md-12
	> .row:nth-child(2)
	> .col-md-3
	> #back-text-panel
	> .panel-body
	> #text-wrapper
	> #text-controls
	> .row:nth-child(2)
	> .btn-group:nth-child(2) {
	width: 100%;
}
#step-2
	> .col-xs-12
	> .col-md-12
	> .row:nth-child(2)
	> .col-md-3
	> #back-text-panel
	> .panel-body
	> #text-wrapper
	> #text-controls
	> .row:nth-child(2)
	> .btn-group:nth-child(1) button {
	margin: 0;
	border-radius: 0;
	min-height: 40px;
	min-width: 46px;
}

#step-2
	> .col-xs-12
	> .col-md-12
	> .row:nth-child(2)
	> .col-md-3
	> #back-text-panel
	> .panel-body
	> #text-wrapper
	> #text-controls
	> .row:nth-child(2)
	> .btn-group:nth-child(2)
	> .color-pickers {
	margin: 0;
	padding: 0;
	width: 100%;
	display: block;
}
#step-2
	> .col-xs-12
	> .col-md-12
	> .row:nth-child(2)
	> .col-md-3
	> #back-text-panel
	> .panel-body
	> #text-wrapper
	> #text-controls
	> .row:nth-child(2)
	> .btn-group:nth-child(2)
	> .color-pickers
	> li {
	margin: 0 !important;
	padding: 8px 16px;
	float: left;
}
#step-2
	> .col-xs-12
	> .col-md-12
	> .row:nth-child(2)
	> .col-md-3
	> #back-text-panel
	> .panel-body
	> #text-wrapper
	> #text-controls
	> .row:nth-child(2)
	> .btn-group:nth-child(2)
	> .color-pickers
	> li
	> div {
	margin: 0;
	padding: 0;
	display: inline-block;
}
#step-2
	> .col-xs-12
	> .col-md-12
	> .row:nth-child(2)
	> .col-md-3
	> #back-image-panel
	> .panel-body
	> .container
	> .row
	> .col-md-3
	> #image-tools
	> #filter-wrapper-back {
	display: flex;
	width: 100%;
}
#step-2
	> .col-xs-12
	> .col-md-12
	> .row:nth-child(2)
	> .col-md-3
	> #back-image-panel
	> .panel-body
	> .container
	> .row
	> .col-md-3
	> #image-tools
	> #filter-wrapper-back
	> label {
	margin: 0;
}
.editor {
	width: 100%;
	margin: 0;
	padding: 0;
	float: none;
	overflow: hidden;
	box-sizing: border-box;
	display: block;
}
#step-1 {
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
}
.editor > #step-1 > .col-xs-12 > .col-md-12 {
	float: none;
	width: 100%;
	margin: 0;
	padding: 0;
}

.range-ctrl-container > .col-md-12 {
    padding: 0;
}

.range-ctrl-container > .col-md-12 > label {
    margin-top: 15px;
    display: block;
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 15px;
}
.range-ctrl-container > .col-md-12 > input[type=range] {
  background: red;
  width: 100%;
}