/* #region COLORS */

:root {
	--tugboat-blue: #2EAACC;
	--tugboat-orange: #EB882D;
	--text-blue: #155E7F;
	--hover-blue: #055D7E;
	--hover-orange: #FF5622;
	--off-white: #EFEFEF;
}

.tugboat-blue {
	color: var(--tugboat-blue) !important;
}

.tugboat-orange {
	color: var(--tugboat-orange) !important;
}

.background-tugboat-blue {
	background-color: var(--tugboat-blue) !important;
}

.background-tugboat-orange {
	background-color: var(--tugboat-orange) !important;
}


/* #endregion */


/* #region SECTION */

.section {
	font-family: 'Titillium Web', sans-serif;
	min-height: 85vh;
	padding-bottom: 15vh;
}

.section-alternate {
	background-color: white;
}

.container-section-header {
	margin-top: -50px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.section-header {
	height: 100px;
	width: 100px;
	padding: 0;
	margin: 0;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.header-line {
	display: inline-block;
	height: 5px;
	flex-grow: 1;
}

.container-background {
	content: "";
	background-image: url(../image/tugboat_vector-website-icons_circle_500x500.svg);
	background-position: center center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	display: block;
	height: 100px;
	width: 100px;
	position: absolute;
	/* margin: -50px 0 0 -100px; */
	padding: 0;
}

.product-background {
	content: "";
	background-image: url(../image/tugboat_vector-website-icons_circle_500x500.svg);
	background-position: center center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	display: block;
	height: 100px;
	width: 100px;
	position: absolute;
	/* margin: -50px 0 0 -100px; */
	padding: 0;
}

.product-background .background-text {
	font-size: 22px;
	font-weight: 550;
	color: var(--hover-blue);
	z-index: 1;
	margin-top: 40px;
	white-space: pre-line;
}

.product-background .background-text.two-lines {
	margin-top: 30px;
}

.section-header-icon {
	max-height: 62.5px;
	max-width: 62.5px;
	z-index: 1;
	position: relative;
	margin-top: 18.75px;
}

.container-section-headline {
	margin-top: 0px;
}

.container-section-headline h1 {
	font-size: 36px;
	margin-bottom: 0px;
}

.container-section-headline h2 {
	color: var(--tugboat-blue);
	line-height: 36px;
	font-size: 30px;
	font-weight: 500;
	margin-top: 0px;
}

.container-section-headline h3 {
	color: var(--tugboat-blue);
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0.5px;
	margin-top: 7px;
}

.container-section-headline h4 {
	font-size: 16px;
	color: var(--text-blue);
}

.container-section-content h5 {
	font-size: 19px;
	font-weight: 300;
	line-height: 36px;
	letter-spacing: 0.5px;
	color: #818286;
}

.container-section-content p {
	line-height: 24px;
}


/* #endregion */


/* #region MAP */

#map {
	height: 100%;
}

#mapInfo {
	margin-left: 5px;
	margin-right: 20px;
	margin-top: 20px;
	padding-left: 15px;
	padding-right: 15px;
	/* background-color: rgba(255, 255, 255, 0.9); */
}

#mapInfo h1 {
	font-size: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
	color: white;
	/* color: var(--tugboat-blue); */
}

#mapInfo h2 {
	font-size: 16px;
	margin-top: 5px;
	margin-bottom: 10px;
	color: white;
	/* color: var(--hover-blue); */
}

#mapInfo h4 {
	font-size: 16px;
	color: white;
}


/* #endregion */


/* #region MODALS */

.modal-open {
	padding-right: 0px !important;
}

.modal.in {
	display: flex !important;
}

.modal-dialog {
	max-height: 90%;
	max-width: 90%;
	margin: auto;
}

.modal-content {
	padding: 10px;
	border: 1px solid var(--tugboat-blue);
}

.modal-close {
	display: flex;
	position: absolute;
	top: -15px;
	right: -15px;
	height: 30px;
	width: 30px;
	background-color: var(--hover-blue);
	border: 2px solid white;
	border-radius: 50%;
	vertical-align: middle;
	z-index: 1001;
}

.close-text {
	margin: auto;
	font-size: 30px;
	color: white;
	font-weight: 300;
	transition-property: font-size;
	transition-duration: 0.1s;
}

.modal-close:hover {
	cursor: pointer;
}


/* #endregion */


/* #region PRODUCT_PAGE */

[class*="productlanding-"] .section {
	/* min-height: 550px; */
	padding-bottom: 0px;
}

#priceListModal .table {
	margin-bottom: 0px;
	color: var(--hover-blue);
}

#priceListModal th {
	font-size: 16px;
	border-width: 0px;
	padding-left: 4px;
	padding-right: 4px;
}

#priceListModal tbody>tr:nth-child(odd) {
	background-color: #F3F2F6;
}

#priceListModal th:not(:last-child),
#priceListModal td:not(:last-child) {
	border-right: 1px solid var(--hover-blue);
}

#priceListModal td {
	font-size: 16px;
	padding-left: 4px;
	padding-right: 4px;
}


/* #endregion */


/* #region UPLOAD DESIGN PAGE */

#uploadDesignModal .modal-dialog {
	width: 90%;
	margin: 0 auto;
}

#uploadDesignModal .modal-content {
	padding: 10px;
}

#uploadDesignModal h1 {
	font-size: 20px;
	margin-top: 0px;
}

#uploadDesignModal .control-label {
	color: var(--hover-blue);
}

#uploadDesignModal .form-control {
	background-color: #F7CFA8
}

#uploadDesignModal nav {
	display: none;
}

#uploadDesignModal footer {
	display: none;
}

#uploadDesignModal h1 {
	font-size: 24px;
}

#uploadDesignModal h3 {
	display: none;
}

#uploadDesignModal .toppaddingbecauseofnav {
	display: none !important;
}

.size-select .modal-content {
	text-align: center;
}

.size-select .modal-content ul {
	list-style: none;
	padding-left: 0px;
}

.size-select .modal-content ul li {
	height: 50px;
	margin-top: 5px;
	margin-left: 5px;
	font-size: 24px;
	color: #000000;
	font-weight: bold;
}


/* #endregion */


/* #region GENERIC MODAL */

#uploadDesignModal .control-label {
	color: var(--hover-blue);
}

#uploadDesignModal .form-control {
	background-color: #F7CFA8
}

#uploadDesignModal nav {
	display: none;
}

#uploadDesignModal footer {
	display: none;
}

#uploadDesignModal h1 {
	font-size: 24px;
}

#uploadDesignModal h3 {
	display: none;
}

#uploadDesignModal .toppaddingbecauseofnav {
	display: none !important;
}

.container-product-page {
	padding-top: 25px;
}

.container-product-page .container-background {}

.container-product-page h4 {
	font-weight: 500;
	color: var(--hover-blue);
}

.container-product-options {
	display: flex;
	align-items: center;
	justify-content: center;
}

.container-product-options .header-line {
	margin-bottom: 50px;
}

.product-col {
	height: 150px;
	width: 100px;
}

.product-option {
	height: 100px;
	width: 100px;
	padding: 0;
	margin: 0;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.product-option:focus {
	outline: none;
}

.product-option-icon {
	height: 62.5px;
	width: 62.5px;
	z-index: 1;
	position: relative;
	margin-top: 18.75px;
}

.product-option-text {
	color: var(--tugboat-blue);
	font-weight: 550;
}

.container-product-image {
	margin-top: 5px;
	margin-bottom: 5px;
}

.product-image {
	max-height: 200px;
}


/* #endregion */


/* #region LOGIN PAGE */


/* #endregion */

.dropdown:hover,
.dropdown:active {
	background: #055D7E;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 15px;
	color: #666;
	line-height: 20px;
	width: 100%;
}

html,
body {
	overflow-x: hidden;
}

.no-gutters {
	margin-right: 0;
	margin-left: 0;
}

.no-gutters>.col,
.no-gutters>[class*="col-"] {
	padding-right: 0;
	padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #444;
}


/* default font size */

.fa {
	font-size: 14px;
}


/* #region BOOTSTRAP CHANGES */


/* Override the bootstrap defaults */

h1 {
	font-size: 33px;
}

h2 {
	font-size: 27px;
}

h3 {
	font-size: 21px;
}

h4 {
	font-size: 15px;
}

h5 {
	font-size: 12px;
}

h6 {
	font-size: 10.2px;
}

a.clsuploadfile:link,
a.clsuploadfile:visited,
a.clsuploadfile:hover,
a.clsuploadfile:active {
	color: #444;
	text-decoration: none;
}

a {
	color: #23a1d1;
}

a:hover {
	text-decoration: none;
}

legend {
	font-size: 18px;
	padding: 7px 0px
}

label {
	font-weight: normal;
}

select.form-control,
textarea.form-control,
input[type="text"].form-control,
input[type="password"].form-control,
input[type="datetime"].form-control,
input[type="datetime-local"].form-control,
input[type="date"].form-control,
input[type="month"].form-control,
input[type="time"].form-control,
input[type="week"].form-control,
input[type="number"].form-control,
input[type="email"].form-control,
input[type="url"].form-control,
input[type="search"].form-control,
input[type="tel"].form-control,
input[type="color"].form-control {}

.input-group input,
.input-group select,
.input-group .dropdown-menu,
.input-group .popover {}

.input-group .input-group-addon {
	height: 30px;
}


/* Fix some bootstrap issues */

span.hidden-xs,
span.hidden-sm,
span.hidden-md,
span.hidden-lg {
	display: inline;
}

.nav-tabs {
	margin-bottom: 15px;
}

div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}


/* #endregion */


/* Gradent to all drop down menus */

.dropdown-menu li>a:hover {
	text-decoration: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}


/* Nav Bar */

.navbar-default {
	background-color: #EB882D;
}

.navbar-nav>li>a,
.navbar-nav>li>a:link,
.navbar-nav>li>a:visited,
.navbar-nav>li>a:hover,
.navbar-nav>li>a:active {
	color: #fff;
}


/* #region top */

#top {
	background-color: #EEEEEE;
	border-bottom: 1px solid #e2e2e2;
	padding: 4px 0px 3px 0;
	margin: 0 0 20px 0;
	min-height: 40px;
}

#top .container {
	padding: 0 20px;
}

#top #form-currency .currency-select,
#top #form-language .language-select {
	text-align: left;
}

#top #form-currency .currency-select:hover,
#top #form-language .language-select:hover {
	text-shadow: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}

#top .btn-link,
#top-links li,
#top-links a {
	color: #888;
	text-shadow: 0 1px 0 #FFF;
	text-decoration: none;
}

#top .btn-link:hover,
#top-links a:hover {
	color: #444;
}

#top-links .dropdown-menu a {
	text-shadow: none;
}

#top-links .dropdown-menu a:hover {
	color: #FFF;
}

#top .btn-link strong {
	font-size: 14px;
	line-height: 14px;
}

#top-links {
	padding-top: 6px;
}

#top-links a+a {
	margin-left: 15px;
}


/* #endregion */


/* logo */

#logo {
	margin: 0 0 10px 0;
}


/* search */

#search {
	margin-bottom: 10px;
}

#search .input-lg {
	height: 40px;
	line-height: 20px;
	padding: 0 10px;
}

#search .btn-lg {
	font-size: 15px;
	line-height: 18px;
	padding: 10px 35px;
	text-shadow: 0 1px 0 #FFF;
}


/* #region cart */

#cart {
	margin-bottom: 0px;
}

#cart.open>.btn {
	background-image: none;
	background-color: #FFFFFF;
	border: 1px solid #E6E6E6;
	color: #666;
	box-shadow: none;
	text-shadow: none;
}

#cart.open>.btn:hover {
	color: #444;
}

#cart .dropdown-menu {
	background: #eee;
	z-index: 1001;
}

@media (max-width: 478px) {}

#cart .dropdown-menu table {
	margin-bottom: 10px;
}

#cart .dropdown-menu li>div {
	min-width: 427px;
	padding: 0 10px;
}

@media (max-width: 478px) {
	#cart .dropdown-menu li>div {
		min-width: 100%;
	}
}

#cart .dropdown-menu li p {
	margin: 20px 0;
}


/* #endregion */


/* #region menu */

#menu {
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;
	min-height: 40px;
}

#menu .nav>li>a {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	padding: 10px 15px 10px 15px;
	min-height: 15px;
	background-color: transparent;
}

#menu .nav>li>a:hover,
#menu .nav>li.open>a {
	background-color: rgba(0, 0, 0, 0.1);
}

#menu .dropdown-menu {
	padding-bottom: 0;
}

#menu .dropdown-inner {
	display: table;
}

#menu .dropdown-inner ul {
	display: table-cell;
}

#menu .dropdown-inner a {
	min-width: 160px;
	display: block;
	padding: 3px 20px;
	clear: both;
	line-height: 20px;
	color: #333333;
}

#menu .dropdown-inner li a:hover {
	color: #FFFFFF;
}

#menu .see-all {
	display: block;
	margin-top: 0.5em;
	border-top: 1px solid #DDD;
	padding: 3px 20px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 3px 3px;
}

#menu .see-all:hover,
#menu .see-all:focus {
	text-decoration: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}

#menu #category {
	float: left;
	padding-left: 15px;
	font-size: 16px;
	font-weight: 700;
	line-height: 40px;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

#menu .btn-navbar {
	font-size: 15px;
	font-stretch: expanded;
	color: #FFF;
	padding: 2px 18px;
	float: right;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;
}

#menu .btn-navbar:hover,
#menu .btn-navbar:focus,
#menu .btn-navbar:active,
#menu .btn-navbar.disabled,
#menu .btn-navbar[disabled] {
	color: #ffffff;
	background-color: #229ac8;
}

@media (min-width: 768px) {
	#menu .dropdown:hover .dropdown-menu {
		display: block;
	}
}

@media (max-width: 767px) {
	#menu {
		border-radius: 4px;
	}
	#menu div.dropdown-inner>ul.list-unstyled {
		display: block;
	}
	#menu div.dropdown-menu {
		margin-left: 0 !important;
		padding-bottom: 10px;
		background-color: rgba(0, 0, 0, 0.1);
	}
	#menu .dropdown-inner {
		display: block;
	}
	#menu .dropdown-inner a {
		width: 100%;
		color: #fff;
	}
	#menu .dropdown-menu a:hover,
	#menu .dropdown-menu ul li a:hover {
		background: rgba(0, 0, 0, 0.1);
	}
	#menu .see-all {
		margin-top: 0;
		border: none;
		border-radius: 0;
		color: #fff;
	}
}


/* #endregion */

.toppaddingbecauseofnav.hidden-xs {
	height: 80px;
}

.toppaddingbecauseofnav.visible-xs {
	height: 100px;
}

@media(min-width: 576px) and (max-width: 767px) {
	.toppaddingbecauseofnav.visible-xs {
		height: 70px;
	}
}

.botpaddingbecauseoffooter.hidden-md-up {
	height: 30px;
}

.my-container {
	position: relative;
	overflow: hidden;
}

.my-container .container {
	padding: 200px;
	position: relative;
	z-index: 2;
}

.my-container img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
	opacity: 0.1;
}


/* #region footer */

footer {
	position: relative;
	z-index: 1030;
	bottom: 0;
	width: 100%;
	line-height: 25px;
	box-shadow: 0px 5px 0px #055D7E;
	color: #fff;
	background: #055D7E;
}

.mobile-footer-content .row {
	display: flex;
	width: 100%;
	padding-right: 10px;
}

.mobile-footer-content a {
	font-size: 7px;
	color: white;
}

.mobile-footer-content img {
	max-width: 10px;
}

.mobile-footer-content .col {
	float: left;
	margin-left: auto;
	margin-right: auto;
	max-width: 20%;
}


/* #endregion */


/* alert */

.alert {
	padding: 8px 14px 8px 14px;
}


/* #region breadcrumb */

.breadcrumb {
	/*centering*/
	display: inline-block;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35);
	overflow: hidden;
	border-radius: 5px;
	/*Lets add the numbers for each link using CSS counters. flag is the name of the counter. to be defined using counter-reset in the parent element of the links*/
	counter-reset: flag;
	padding: 0;
}

.breadcrumb li {
	display: block;
}

.breadcrumb a {
	text-decoration: none;
	outline: none;
	display: block;
	float: left;
	font-size: 12px;
	line-height: 36px;
	color: white;
	/*need more margin on the left of links to accomodate the numbers*/
	padding: 0 10px 0 60px;
	background: #666;
	background: linear-gradient(#666, #333);
	position: relative;
}


/*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/

.breadcrumb a:first-child {
	padding-left: 46px;
	border-radius: 5px 0 0 5px;
	/*to match with the parent's radius*/
}

.breadcrumb a:first-child:before {
	left: 14px;
}

.breadcrumb a:last-child {
	border-radius: 0 5px 5px 0;
	/*this was to prevent glitches on hover*/
	padding-right: 20px;
}

.breadcrumb a:not(:first-child):hover {
	color: #fff;
}

.breadcrumb a:not(:first-child):hover::before {
	color: #000;
}


/*hover/active styles*/

.breadcrumb a:first-child {
	background: #333;
	background: linear-gradient(#333, #000);
}

.breadcrumb a:first-child:after {
	background: #333;
	background: linear-gradient(135deg, #333, #000);
}


/*adding the arrows for the breadcrumbs using rotated pseudo elements*/

.breadcrumb a:after {
	content: '';
	position: absolute;
	top: 0;
	right: -18px;
	/*half of square's length*/
	/*same dimension as the line-height of .breadcrumb a */
	width: 36px;
	height: 36px;
	/*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's:
	length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
	if diagonal required = 1; length = 1/1.414 = 0.707*/
	transform: scale(0.707) rotate(45deg);
	/*we need to prevent the arrows from getting buried under the next link*/
	z-index: 1;
	/*background same as links but the gradient will be rotated to compensate with the transform applied*/
	background: #666;
	background: linear-gradient(135deg, #666, #333);
	/*stylish arrow design using box shadow*/
	box-shadow: 2px -2px 0 2px rgba(0, 0, 0, 0.4), 3px -3px 0 2px rgba(255, 255, 255, 0.1);
	/*
		5px - for rounded arrows and
		50px - to prevent hover glitches on the border created using shadows*/
	border-radius: 0 5px 0 50px;
}


/*we dont need an arrow after the last link*/

.breadcrumb a:last-child:after {
	content: none;
}


/*we will use the :before element to show numbers*/

.breadcrumb a:before {
	text-align: center;
	content: counter(flag);
	counter-increment: flag;
	/*some styles now*/
	border-radius: 100%;
	width: 20px;
	height: 20px;
	line-height: 20px;
	margin: 8px 0;
	position: absolute;
	top: 0;
	left: 30px;
	background: #444;
	background: linear-gradient(#444, #222);
	font-weight: bold;
}

.breadcrumb a,
.breadcrumb a:after {
	background: white;
	color: black;
	transition: all 0.5s;
}

.breadcrumb a:before {
	background: white;
	box-shadow: 0 0 0 1px #ccc;
}

.breadcrumb a:hover,
.breadcrumb a:first-child,
.breadcrumb a:hover:after,
.breadcrumb a:first-child:after {
	background: #eb882d;
}


/* #endregion */

.pagination {
	margin: 0;
}


/* #region buttons */

.buttons {
	margin: 1em 0;
}

.btn {
	padding: 7.5px 12px;
	border: 1px solid #cccccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
}

.btn-xs {
	font-size: 9px;
}

.btn-sm {
	font-size: 10.2px;
}

.btn-lg {
	padding: 10px 16px;
	font-size: 15px;
}

.btn-group>.btn,
.btn-group>.dropdown-menu,
.btn-group>.popover {}

.btn-group>.btn-xs {
	font-size: 9px;
}

.btn-group>.btn-sm {
	font-size: 10.2px;
}

.btn-group>.btn-lg {
	font-size: 15px;
}

.btn-default {
	color: #777;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #e7e7e7;
	background-image: linear-gradient(to bottom, #eeeeee, #dddddd);
	background-repeat: repeat-x;
	border-color: #dddddd #dddddd #b3b3b3 #b7b7b7;
}

.btn-primary {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
	background-color: #1f90bb;
	background-position: 0 -15px;
}

.btn-warning {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #faa732;
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;
	border-color: #f89406 #f89406 #ad6704;
}

.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}

.btn-danger {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #da4f49;
	background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
	background-repeat: repeat-x;
	border-color: #bd362f #bd362f #802420;
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}

.btn-success {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5bb75b;
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-repeat: repeat-x;
	border-color: #51a351 #51a351 #387038;
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}

.btn-info {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #df5c39;
	background-image: linear-gradient(to bottom, #e06342, #dc512c);
	background-repeat: repeat-x;
	border-color: #dc512c #dc512c #a2371a;
}

.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
	background-image: none;
	background-color: #df5c39;
}

.btn-link {
	border-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	color: #23A1D1;
	border-radius: 0;
}

.btn-link,
.btn-link:active,
.btn-link[disabled] {
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	box-shadow: none;
}

.btn-inverse {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #363636;
	background-image: linear-gradient(to bottom, #444444, #222222);
	background-repeat: repeat-x;
	border-color: #222222 #222222 #000000;
}

.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
	background-color: #222222;
	background-image: linear-gradient(to bottom, #333333, #111111);
}


/* #endregion */


/* #region list group */

.list-group a {
	border: 1px solid #DDDDDD;
	color: #888888;
	padding: 8px 12px;
}

.list-group a.active,
.list-group a.active:hover,
.list-group a:hover {
	color: #444444;
	background: #eeeeee;
	border: 1px solid #DDDDDD;
	text-shadow: 0 1px 0 #FFF;
}


/* #endregion */


/* #region carousel */

.carousel-caption {
	color: #FFFFFF;
	text-shadow: 0 1px 0 #000000;
}

.carousel-control .icon-prev:before {
	content: '\f053';
	font-family: FontAwesome;
}

.carousel-control .icon-next:before {
	content: '\f054';
	font-family: FontAwesome;
}


/* #endregion */


/* #region product list */

.product-thumb {
	border: 1px solid #ddd;
	margin-bottom: 20px;
	overflow: auto;
}

.product-thumb .image {
	text-align: center;
}

.product-thumb .image a {
	display: block;
}

.product-thumb .image a:hover {
	opacity: 0.8;
}

.product-thumb .image img {
	margin-left: auto;
	margin-right: auto;
}

.product-grid .product-thumb .image {
	float: none;
}

@media (min-width: 767px) {
	.product-list .product-thumb .image {
		float: left;
		padding: 0 15px;
	}
}

.product-thumb h4 {
	font-weight: bold;
}

.product-thumb .caption {
	padding: 0 20px;
	min-height: 180px;
}

.product-list .product-thumb .caption {
	margin-left: 230px;
}

@media (max-width: 1200px) {
	.product-grid .product-thumb .caption {
		min-height: 210px;
		padding: 0 10px;
	}
}

@media (max-width: 767px) {
	.product-list .product-thumb .caption {
		min-height: 0;
		margin-left: 0;
		padding: 0 10px;
	}
	.product-grid .product-thumb .caption {
		min-height: 0;
	}
}

.product-thumb .rating {
	padding-bottom: 10px;
}

.rating .fa-stack {
	font-size: 8px;
}

.rating .fa-star-o {
	color: #999;
	font-size: 15px;
}

.rating .fa-star {
	color: #FC0;
	font-size: 15px;
}

.rating .fa-star+.fa-star-o {
	color: #E69500;
}

h2.price {
	margin: 0;
}

.product-thumb .price {
	color: #444;
}

.product-thumb .price-new {
	font-weight: 600;
}

.product-thumb .price-old {
	color: #999;
	text-decoration: line-through;
	margin-left: 10px;
}

.product-thumb .price-tax {
	color: #999;
	display: block;
}

.product-thumb .button-group {
	border-top: 1px solid #ddd;
	background-color: #eee;
	overflow: auto;
}

.product-list .product-thumb .button-group {
	border-left: 1px solid #ddd;
}

@media (max-width: 768px) {
	.product-list .product-thumb .button-group {
		border-left: none;
	}
}

.product-thumb .button-group button {
	width: 100%;
	border: none;
	display: inline-block;
	float: left;
	background-color: #eee;
	color: #888;
	line-height: 38px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

.product-thumb .button-group button+button {
	width: 20%;
	border-left: 1px solid #ddd;
}

.product-thumb .button-group button:hover {
	color: #444;
	background-color: #ddd;
	text-decoration: none;
	cursor: pointer;
}

@media (max-width: 1200px) {
	.product-thumb .button-group button,
	.product-thumb .button-group button+button {
		/*width: 33.33%;*/
	}
}

@media (max-width: 767px) {
	.product-thumb .button-group button,
	.product-thumb .button-group button+button {
		/*width: 33.33%;*/
	}
}

.thumbnails {
	overflow: auto;
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0;
}

.thumbnails>li {
	margin-left: 20px;
}

.thumbnails {
	margin-left: -20px;
}

.thumbnails>img {
	width: 100%;
}

.image-additional a {
	margin-bottom: 20px;
	padding: 5px;
	display: block;
	border: 1px solid #ddd;
}

.image-additional {
	max-width: 78px;
}

.thumbnails .image-additional {
	float: left;
	margin-left: 20px;
}

@media (min-width: 1200px) {
	#content .col-lg-2:nth-child(6n+1),
	#content .col-lg-2:nth-child(6n+1),
	#content .col-lg-3:nth-child(4n+1),
	#content .col-lg-4:nth-child(3n+1),
	#content .col-lg-6:nth-child(2n+1) {
		clear: left;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	#content .col-md-2:nth-child(6n+1),
	#content .col-md-2:nth-child(6n+1),
	#content .col-md-3:nth-child(4n+1),
	#content .col-md-4:nth-child(3n+1),
	#content .col-md-6:nth-child(2n+1) {
		clear: left;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#content .col-sm-2:nth-child(6n+1),
	#content .col-sm-2:nth-child(6n+1),
	#content .col-sm-3:nth-child(4n+1),
	#content .col-sm-4:nth-child(3n+1),
	#content .col-sm-6:nth-child(2n+1) {
		clear: left;
	}
}


/* #endregion */


/* fixed colum left + content + right*/

@media (min-width: 768px) {
	#column-left .product-layout .col-md-3 {
		width: 100%;
	}
	#column-left+#content .product-layout .col-md-3 {
		width: 50%;
	}
	#column-left+#content+#column-right .product-layout .col-md-3 {
		width: 100%;
	}
	#content+#column-right .product-layout .col-md-3 {
		width: 100%;
	}
}


/* fixed product layouts used in left and right columns */

#column-left .product-layout,
#column-right .product-layout {
	width: 100%;
}


/* fixed mobile cart quantity input */

.input-group .form-control[name^=quantity] {
	min-width: 50px;
}


/* Missing focus and border color to overwrite bootstrap */

.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
	background-image: none;
	background-color: #df5c39;
}

.starter-template {
	padding: 40px 15px;
	text-align: center;
	color: #222;
}

.twocolone .starter-template {
	text-align: left;
}

.page-header span {
	color: #26a1e0;
}

h1.page-header {
	font-size: 50px;
}

.starter-template h1.page-header {
	border-bottom: 1px solid #ddd;
}

.green-alert {
	background-color: rgb(50, 179, 106);
	color: white;
	padding: 15px 20px;
	margin: 0px;
}


/* #region stylish-panel */

.stylish-panel {
	padding: 20px 0;
	text-align: center;
}

.stylish-panel>div>div {
	padding: 10px;
	border: 1px solid transparent;
	border-radius: 4px;
	transition: 0.2s;
}

.stylish-panel>div:hover>div {
	margin-top: -10px;
	border: 1px solid rgb(200, 200, 200);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
	transition: 0.5s;
}

.stylish-panel>div:hover img {
	border-radius: 50%;
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}

.stylish-panel .insideicons {
	font-size: 40px;
	line-height: 0px;
}


/* #endregion */


/* #region testimonials */

.Testimonials .nav.nav-justified>li>a {
	position: relative;
}

.Testimonials .nav.nav-justified>li>a:hover,
.Testimonials .nav.nav-justified>li>a:focus {
	background-color: transparent;
}

.Testimonials .nav.nav-justified>li>a>.quote {
	position: absolute;
	left: 0px;
	top: 0;
	opacity: 0;
	width: 30px;
	height: 30px;
	padding: 5px;
	background-color: #13c0ba;
	border-radius: 15px;
	color: #fff;
}

.Testimonials .nav.nav-justified>li.active>a>.quote {
	opacity: 1;
}

.Testimonials .nav.nav-justified>li>a>img {
	box-shadow: 0 0 0 5px #13c0ba;
}

.Testimonials .nav.nav-justified>li>a>img {
	max-width: 100%;
	opacity: .3;
	-webkit-transform: scale(.8, .8);
	transform: scale(.8, .8);
	-webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.Testimonials .nav.nav-justified>li.active>a>img,
.Testimonials .nav.nav-justified>li:hover>a>img,
.Testimonials .nav.nav-justified>li:focus>a>img {
	opacity: 1;
	-webkit-transform: none;
	transform: none;
	-webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.Testimonials .tab-pane .tab-inner {
	padding: 30px 0 20px;
	text-align: center;
}

@media (min-width: 768px) {
	.Testimonials .nav.nav-justified>li>a>.quote {
		left: auto;
		top: auto;
		right: 20px;
		bottom: 0px;
	}
}


/* #endregion */

.ihc-ap-menu {
	display: none;
}

.insideicon {
	width: 26.6vw;
	margin: 0 auto;
}

.safetyline {
	border: 1px solid red;
	position: absolute;
	top: 0px;
	z-index: 999;
}


/* #region MARKETING CONTENT */


/* Center align the text within the three columns below the carousel */

.marketing .col-lg-4 {
	margin-bottom: 20px;
	text-align: center;
}

.marketing h2 {
	font-weight: normal;
}

.marketing .col-lg-4 p {
	margin-right: 10px;
	margin-left: 10px;
}


/* #endregion */


/* #region FINAL PRICE */

.placeholder_finalprice {
	display: none
}


/* #endregion */


/* #region FANCY MODAL */

body.modal-open #wrap {
	-webkit-filter: blur(7px);
	-moz-filter: blur(15px);
	-o-filter: blur(15px);
	-ms-filter: blur(15px);
	filter: blur(15px);
}

#divloadingmodal .maintext,
#divloadingmodal_generic .maintext {
	background-color: #fff;
	border: 1px solid #eee;
}

.imagefilter,
.imagefilter_back {
	opacity: 0.1;
}

.modal-backdrop {
	background: #efefef;
}

.close {
	font-size: 50px;
	display: block;
}


/* #endregion */


/* #region FILE UPLOADS */

.tile-progress {
	background-color: #303641;
	color: #fff;
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

.tile-progress {
	background: #00a65b;
	color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.tile-progress .tile-header {
	padding: 15px 20px;
	padding-bottom: 40px;
}

.tile-progress .tile-progressbar {
	height: 2px;
	background: rgba(0, 0, 0, 0.18);
	margin: 0;
}

.tile-progress .tile-progressbar span {
	background: #fff;
}

.tile-progress .tile-progressbar span {
	display: block;
	background: #fff;
	width: 0;
	height: 100%;
	-webkit-transition: all 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
	-moz-transition: all 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
	-o-transition: all 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
	transition: all 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

.tile-progress .tile-footer {
	padding: 20px;
	text-align: right;
	background: rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 0 0 3px 3px;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 0 0 3px 3px;
	-moz-background-clip: padding;
	border-radius: 0 0 3px 3px;
	background-clip: padding-box;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}

.tile-progress.tile-red {
	background-color: #f56954;
	color: #fff;
}

.tile-progress {
	background-color: #303641;
	color: #fff;
}

.tile-progress.tile-blue {
	background-color: #0073b7;
	color: #fff;
}

.tile-progress.tile-aqua {
	background-color: #00c0ef;
	color: #fff;
}

.tile-progress.tile-green {
	background-color: #00a65a;
	color: #fff;
}

.tile-progress.tile-cyan {
	background-color: #00b29e;
	color: #fff;
}

.tile-progress.tile-purple {
	background-color: #ba79cb;
	color: #fff;
}

.tile-progress.tile-pink {
	background-color: #ec3b83;
	color: #fff;
}


/* #endregion */


/* #region Featurettes */

.featurette-divider {
	margin: 80px 0;
	/* Space out the Bootstrap <hr> more */
}


/* #endregion */


/* #region Thin out the marketing headings */

.featurette-heading {
	font-weight: 300;
	line-height: 1;
	letter-spacing: -1px;
}

.offsidestylishpanel {
	text-align: center;
	padding: 20px;
}

.offsidestylishpanel .insideicons {
	font-size: 40px;
	line-height: 0px;
}

#content.col-sm-9>h2 {
	margin-top: 0;
}

#list-view,
#grid-view,
.sort-by-hidden {
	display: none;
}


/* #endregion */


/* #region RESPONSIVE CSS */

@media (min-width: 576px) {
	.container-background {
		height: 100px;
		width: 100px;
	}
	.container-product-page {
		padding-top: 50px;
	}
	.section-header {
		height: 100px;
		width: 100px;
		padding: 0;
		margin: 0;
		z-index: 1;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	.section-header-icon {
		max-height: 60px;
		z-index: 1;
		position: relative;
		margin-top: 20px;
	}
	.product-background {
		width: 100px;
		height: 100px;
	}
	.product-background .background-text {
		font-size: 22px;
		line-height: 22px;
		font-weight: 550;
		color: var(--hover-blue);
		z-index: 1;
		margin-top: 39px;
		white-space: pre-line;
	}
	.product-background .background-text.two-lines {
		margin-top: 28px;
	}
	.product-col {
		width: 100px;
		height: 150px;
	}
	.product-option {
		height: 100px;
		width: 100px;
	}
	.product-option-icon {
		max-height: 62.5px;
		max-width: 62.5px;
		margin-top: 15.75px;
	}
}

@media (min-width: 768px) {
	#sectionLanding.section {
		margin-top: 0px;
	}
	/* Bump up size of carousel content */
	.carousel-caption p {
		margin-bottom: 20px;
		font-size: 21px;
		line-height: 1.4;
	}
	.featurette-heading {
		font-size: 50px;
	}
	.container-background {
		height: 150px;
		width: 150px;
	}
	.section-header {
		height: 150px;
		width: 150px;
	}
	.section-header-icon {
		max-height: 100px;
		max-width: 100px;
		margin-top: 25px;
	}
	.container-section-headline h3 {
		font-weight: 500;
	}
	footer {
		font-family: 'Titillium Web', sans-serif;
		position: initial;
		border-top: 1px solid #ddd;
		color: #fff;
		background: #055D7E;
	}
	footer .container {
		background: #055D7E;
	}
	footer hr {
		border-top: none;
		border-bottom: 1px solid #666;
	}
	footer a {
		color: #ccc;
	}
	footer a:hover {
		color: #fff;
	}
	footer h5 {
		font-size: 13px;
		font-weight: bold;
		color: #fff;
	}
	footer>.container {
		padding-bottom: 15px;
	}
	footer>.container>.row {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0;
		margin: 0;
		width: 100%;
		height: 100%;
		flex-wrap: wrap;
	}
	footer .col-xs-2,
	footer .col-xs-4 {
		text-align: center;
		margin: 0;
		padding: 0;
		float: none;
	}
	footer .text-center {
		padding-top: 15px;
	}
	.footer-logo-container {
		text-align: center;
		margin-bottom: 10px;
	}
	.footer-logo-container>a>img {
		height: 50px;
		width: auto;
	}
	#map {
		height: 100%;
	}
	#mapInfo {
		margin-left: 5px;
		margin-right: 20px;
		margin-top: 20px;
		padding-left: 15px;
		padding-right: 15px;
		/* background-color: rgba(255, 255, 255, 0.9); */
	}
	#mapInfo h1 {
		font-size: 30px;
		margin-top: 5px;
		margin-bottom: 5px;
		color: white;
		/* color: var(--tugboat-blue); */
	}
	#mapInfo h2 {
		font-size: 16px;
		margin-top: 5px;
		margin-bottom: 10px;
		color: white;
		/* color: var(--hover-blue); */
	}
	#mapInfo h4 {
		font-size: 16px;
		color: white;
	}
	#priceListModal .modal-dialog {
		margin: auto;
	}
	#priceListModal .modal-dialog.three-col {
		width: 75%;
	}
	#priceListModal .modal-dialog.four-col {
		width: 90%;
	}
	#priceListModal .modal-dialog.four-col .modal-content {
		padding: 25px;
	}
	#priceListModal .modal-content {
		padding: 25px;
		border: 1px solid var(--tugboat-blue);
	}
	#priceListModal .table {
		margin-bottom: 0px;
		color: var(--hover-blue);
	}
	#priceListModal th {
		font-size: 16px;
		border-width: 0px;
		padding-left: 8px;
		padding-right: 8px;
	}
	#priceListModal tbody>tr:nth-child(odd) {
		background-color: #F3F2F6;
	}
	#priceListModal th:not(:last-child),
	#priceListModal td:not(:last-child) {
		border-right: 1px solid var(--hover-blue);
	}
	#priceListModal td {
		font-size: 16px;
		padding-left: 8px;
		padding-right: 8px;
	}
	.modal-dialog {
		max-width: 60%;
	}
	.modal-close {
		position: absolute;
		top: -20px;
		right: -20px;
		height: 40px;
		width: 40px;
		background-color: var(--hover-blue);
		border: 2px solid white;
		border-radius: 50%;
		vertical-align: middle;
	}
	.close-text {
		font-size: 40px;
		color: white;
		margin-top: 5px;
		font-weight: 300;
		transition: all .2s ease-out;
	}
	.close-text:hover {
		transform: scale(1.1);
	}
}

@media (min-width: 992px) {
	.featurette-heading {
		margin-top: 80px;
	}
	.container-background {
		height: 200px;
		width: 200px;
	}

	.section-header {
		height: 200px;
		width: 200px;
	}

	.section-header-icon {
		max-height: 135px;
		max-width: 135px;
		margin-top: 32.5px;
	}
}

.circle {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 0;
	padding: 50% 0;
	border-radius: 50%;
	/* Just making it pretty */
	@shadow: rgba(0, 0, 0, .1);
	@shadow-length: 4px;
	-webkit-box-shadow: 0 @shadow-length 0 0 @shadow;
	box-shadow: 0 @shadow-length 0 0 @shadow;
	text-shadow: 0 @shadow-length 0 @shadow;
	color: white;
	font-family: Helvetica, Arial Black, sans;
	font-size: 30px;
	text-align: center;
}

.circle-blue {
	background: #38a9e4;
}

.circle-green {
	background: #449d44;
}

.circle-red {
	background: #c9302c;
}

.circle-orange {
	background: #ec971f;
}

.pull-center {
	text-align: center;
}

#canvas-product-front {
	border: 1px solid #efefef;
	width: 100%;
	height: 100%;
}

.sticky {
	position: sticky !important;
	top: 120px;
}

.form-horizontal .control-label {
	text-align: left !important;
}


/* #endregion */


/* #region slick-carousel */

.slick-slide {
	min-height: 18.5vh;
	display: flex !important;
	align-items: center;
	justify-content: center;
}

.slick-slide:focus {
	outline: none;
}

.slick-slide a:focus {
	outline: none;
}


/* #endregion */