thead {
	color: #fff;
	background-color: #eb8827;
}

.btn-cart {
	color: #fff;
	background-color: #eb8827;
	background-image: linear-gradient(to bottom, #eb8827, #ce7722);
	background-repeat: repeat-x;
	border-color: #ce7722 #eb8827 #b0661d;
}

.btn-cart:hover {
	color: #fff;
	border-color: #b0661d #b0661d #935518;
}

.panel-heading {
	background-color: #eb8827 !important;
	color: #fff !important;
}
