button#choose-button {
  color: #fff;
  background-color: #EB882D;
}

label.select-labels {
  color: #fff;
  background: linear-gradient(to bottom, #32B2DF, #2C9CC3);
}

.price {
  font-weight: bold;
}
