.main-content * {
  font-family: "Titillium Web", sans-serif; }

.main-content {
  max-width: 900px !important; }

.flex-column {
  flex-direction: column; }

.added-padding {
  padding: 40px 0; }

.main-content h1, .main-content h2, .main-content p {
  text-align: center;
  color: #115d7e; }

.main-content h1 {
  font-size: 40px; }

.main-content h2 {
  font-size: 28px; }

.product-background-line {
  position: relative;
  display: block;
  text-align: center; }

.main-content h2 {
  z-index: 10;
  position: relative;
  background: white;
  display: inline-block;
  margin: 0;
  padding: 0 15px;
  text-align: center; }

.line {
  background: #0083EA;
  height: 1px;
  display: block;
  position: absolute;
  top: 14px;
  z-index: -1;
  width: 100%;
  line-height: 0; }

.container-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px; }

.container-column {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center; }

.container-column p {
  font-size: 40px; }

.img-side {
  width: auto;
  max-width: 100%;
  min-height: 300px;
  height: auto; }

.line-break {
  display: block;
  min-width: 100%;
  height: 1px;
  background: #0083EA;
  margin-top: 25px; }

.container-column-icon a {
  display: flex;
  height: 175px;
  width: 175px;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column; }

.container-column-icon a:hover, .container-column-icon a:focus, .container-column-icon a:active, .container-column-icon a:visited {
  text-decoration: none;
  outline: none;
  box-shadow: none;
  border: none;
  font-size: 19px;
  font-weight: 400;
  text-align: center;
  color: #115d7e; }

.container-column-icon:before {
  content: "";
  position: absolute;
  background-image: url(../../../image/tugboat_vector-website-icons_circle_500x500.svg);
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 175px;
  width: 175px;
  z-index: -1;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

.container-column-icon:hover:before {
  transform: rotate(46deg);
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

.img-center {
  height: 100%;
  width: auto; }

.first-img {
  max-height: 75px; }

.second-img {
  max-height: 85px; }

.third-img {
  max-height: 85px; }

.container-img {
  margin-top: 25px; }

.container-column-icon p {
  font-size: 19px;
  font-weight: 400;
  padding: 10px 0;
  margin: 0;
  max-width: 80%;
  outline: none;
  color: #115d7e;
  text-decoration: none; }

.container-column-icon p:hover {
  outline: none;
  color: #115d7e;
  text-decoration: none; }

.container-column-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 175px;
  width: 175px; }

#touchPostCard:hover {
  cursor: pointer; }
