.header {
  font-size: 12px;
  background-color: rgb(235, 235, 235);
  margin-bottom: 10px;
}

.call-to-action {
  margin-bottom: 16px;
}

.btn:hover {
  cursor: pointer;
}

.header-container {
  padding-top: 5px;
  padding-bottom: 5px;
}

.navigation-row {
  padding-top: 20px;
  padding-bottom: 20px;
}

.support-row {
  font-size: 14px;
  padding-left: 30px;
}

.support-row div:hover {
  cursor: pointer;
}

.sub-categories {
  margin-bottom: 15px;
}

.sidebar h5 {
  font-size: 16px;
}

.sub-category {
  color: black;
}

.sub-category:hover {
  color: lightblue;
  text-decoration: none;
}

.sidebar p {
  line-height: 25px;
  font-size: 12px;
  margin-bottom: 0px;
  text-indent: 5px;
}

.sub-category:not(:last-child) p {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.account-link:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.account-link:hover {
  color: lightblue;
  cursor: pointer;
}

.brand-image img {
  object-fit: contain;
}

.call-to-action {
  height: 375px;
  background-image: url("../images/new-welcome-page-min.jpg");
  border-radius: 15px;
}

.vendor h5 {
  font-size: 15px;
  color: rgb(155, 155, 155);
}

.printer-register {
  margin-top: 15px;
  margin-bottom: 15px;
  right: 15px;
  background-color: white;
  border-radius: 15px;
  padding: 35px;
  border: 3px solid rgb(25, 66, 115);
}

.printer-register h2 {
  color: rgb(13, 89, 149);
}

.printer-register p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
}

.printer-register .form-control {
  border: 3px solid rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}

.printer-register .btn {
  border-radius: 50px;
  width: 100%;
}

.reviews-content {
  margin-top: 15px;
  min-height: 300px;
}

.reviews-title {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.footer-container {
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  padding-top: 5px;
}

.footer-category h5 {
  color: rgb(2, 75, 158);
  font-size: 18px;
  font-weight: 700;
}

.footer-links p {
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 0px;
  text-decoration: none;
}